<div class="main">
  <ng-container *ngIf="historyOrders$ | async as orders">
    <div class="filters">
      <ng-history-sort
        class="sort"
        ngTooltip="Сортировка"
        ngTooltipPlacement="left"
        [isOpen]="viewState.activeQuery | equal: 'sort'"
        [options]="sortOptions"
        [sort]="dataState.fetchQueryManager.getQueryItem('sort')"
        (sort)="setQuery('sort', $event)"
        (toggleShow)="toggleShowQuery('sort')"
      ></ng-history-sort>
      <ng-history-filter
        *ngIf="ordersStats$ | async as ordersStats"
        class="filter"
        ngTooltip="Фильтрация"
        ngTooltipPlacement="right"
        [isOpen]="viewState.activeQuery | equal: 'filters'"
        [ordersStats]="ordersStats"
        [filter]="dataState.fetchQueryManager.getQueryItem('filters')"
        (filter)="setQuery('filters', $event)"
        (toggleShow)="toggleShowQuery('filters')"
      ></ng-history-filter>
    </div>

    <div
      class="list"
      *ngIf="orders.totalCount | boolean; else emptyTpl"
      ngTheme
      #themeRef="themeRef"
    >
      <div class="statuses">
        <ul class="statuses-list">
          <li
            class="statuses-list-item"
            *ngFor="let opt of positionStatusOptions; trackBy: trackByStatuses"
            ngTooltipPlacement="top"
            [ngTooltip]="opt.label"
            [style.backgroundColor]="opt.color[themeRef.current]"
          ></li>
        </ul>
      </div>
      <ul
        class="orders"
        pageEndpoint
        (endpoint)="expand()"
        [@ANShowHistoryOrders]="orders.items.length"
      >
        <ng-history-list-order
          class="orders-item stagger-item"
          *ngFor="let order of orders.items"
          [ngLoader]="dataFlags.isFetched"
          [order]="order"
          [positionsStatusesOptions]="positionStatusOptions"
          (repeat)="repeatOrder($event)"
        ></ng-history-list-order>
      </ul>
    </div>
  </ng-container>
</div>

<ng-template #emptyTpl>
  <ng-empty-message text="Список заказов пуст"></ng-empty-message>
</ng-template>
