@import 'decoration.mixins.scss';

.main {
  display: flex;
  flex-direction: column;

  .filters {
    display: flex;
    align-self: flex-end;
    gap: 0.5rem;
  }

  .list {
    .statuses {
      display: flex;
      margin-top: 1rem;

      &-list {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        &-item {
          @include circle(30px);
        }
      }
    }

    .orders {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      row-gap: 3.5rem;
      column-gap: 1rem;
      margin-top: 2.5rem;

      &-item {
      }
    }
  }
}
