.btn {
  position: relative;
  display: flex;
  background: transparent;
  border: none;
  outline: none;
  overflow: hidden;

  .icon {
    cursor: pointer;
    margin: auto;
    transform: translateX(0%);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    &.loading {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    transition: left 1s linear;

    &.loading {
      left: 50%;
    }
  }

  &:disabled > .icon {
    cursor: not-allowed;
  }
}
