@use "sass:string";

@keyframes rotate {
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes enterYTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes leaveYTop {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@mixin stagger(
  $animate,
  $childrenCount,
  $staggerStep: 0.1s,
  $duration: 0.3s,
  $fillMode: none,
  $timing: linear,
  $selector: '.stagger-item',
  // @param ($selector) селектор для дочерних элементов, которые будут учавствовать в анимации
) {
  #{$selector} {
    @for $i from 1 through $childrenCount {
      &:nth-child(#{$i}) {
        $delay: $i * $staggerStep;
        animation: $animate $duration $delay $timing $fillMode;
      }
    }
  }
}
