$theme-default-color: #ccf6ff;
$theme-dark-color: #fcf52d;
$theme-default-border: deepskyblue;
$theme-dark-border: azure;
$theme-disabled-color: darkgray;
$layout-dark-gradient: linear-gradient(to right, #222222 0%, black 100%);
$sharp-blues: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
$salt: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
$knoxwille: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$midnight: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
$premium-dark: linear-gradient(to right, #434343 0%, black 100%);
$cloud: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
$flare: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
$raspberry: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
$caramel: linear-gradient(to right, rgb(209, 145, 60), rgb(255, 209, 148));
$youtube: linear-gradient(to right, rgb(229, 45, 39), rgb(179, 18, 23));
$sound-cloud: linear-gradient(to right, rgb(254, 140, 0), rgb(248, 54, 0));
$sunset: linear-gradient(to right, rgb(11, 72, 107), rgb(5, 4, 4));
$learning: linear-gradient(to right, rgb(247, 151, 30), rgb(255, 210, 0));
$teal: linear-gradient(to right, rgb(20, 82, 19), rgb(17, 255, 189));
$snapchat: linear-gradient(to right, rgb(255, 252, 0), rgb(255, 255, 255));
$easy-med: linear-gradient(to right, rgb(220, 227, 91), rgb(69, 182, 73));
$playing: linear-gradient(to right, rgb(211, 16, 39), rgb(234, 56, 77));
$roseanna: linear-gradient(to right, rgb(255, 175, 189), rgb(255, 195, 160));

$above-sky: linear-gradient(
  to top,
  lightgrey 0%,
  lightgrey 1%,
  #e0e0e0 26%,
  #efefef 48%,
  #d9d9d9 75%,
  #bcbcbc 100%
);
$lunada: linear-gradient(
  to right,
  rgb(84, 51, 255),
  rgb(32, 189, 255),
  rgb(165, 254, 203)
);
$lawrencium: linear-gradient(
  to right,
  rgb(15, 12, 41),
  rgb(48, 43, 99),
  rgb(36, 36, 62)
);
$layout-default-gradient: linear-gradient(
  to right,
  rgb(246, 253, 253),
  rgb(255, 255, 255)
);
$theme-default-gradient-circle: radial-gradient(
  circle at 65% 15%,
  aqua,
  darkblue
);
$theme-dark-gradient-circle: radial-gradient(
  circle at 65% 15%,
  rgb(247, 151, 30),
  rgb(255, 210, 0)
);
$theme-disabled-gradient: radial-gradient(
  farthest-side ellipse at top left,
  white,
  #aaaaaa
);

$theme-disabled-font-gradient: linear-gradient(
  to right,
  rgb(35, 37, 38),
  rgb(65, 67, 69)
);

//  * Status gradients

$gradient-danger: $youtube;
$gradient-warning: $caramel;
$gradient-basic: $easy-med;
$gradient-primary: $lunada;
$gradient-success: $teal;
