@import 'short.scss';
@import 'extends.scss';

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --app-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// * scrollbar
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-image: var(--layout-gradient);
}

::-webkit-scrollbar-thumb {
  border-radius: calc(0.7rem / 2);
  background-image: var(--theme-gradient);
}
// * scrollbar
