@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';

@mixin gradient-border($color, $size: 1px) {
  border: $size solid transparent;
  border-image: $color;
  border-image-slice: 1;
}

@mixin gradient-border-side($color, $size: 1px, $side: 'left') {
  border-#{$side}: $size solid transparent;
  border-image: $color;
  border-image-slice: 1;
}

@mixin circle($size) {
  height: $size;
  width: $size;
  border-radius: 50%;
}

@mixin content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin reset-btn {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

@mixin triangle($side, $size, $color) {
  border-#{$side}: $size solid $color;
  height: 0;
  width: 0;

  @if $side == 'top' or $side == 'bottom' {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  } @else if $side == 'left' or $side == 'right' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
  }
}

@mixin triangle-top($size, $color) {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  @include triangle('top', $size, $color);
}

@mixin triangle-bottom($size, $color) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  @include triangle('bottom', $size, $color);
}

@mixin triangle-left($size, $color) {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  @include triangle('left', $size, $color);
}
@mixin triangle-right($size, $color) {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  @include triangle('right', $size, $color);
}

@mixin triangle-side($side, $size, $color) {
  @if $side == 'top' {
    @include triangle-top($size, $color);
  } @else if $side == 'bottom' {
    @include triangle-bottom($size, $color);
  } @else if $side == 'left' {
    @include triangle-left($size, $color);
  } @else if $side == 'right' {
    @include triangle-right($size, $color);
  }
}
