@import 'fonts/fonts.mixins.scss';
@import 'theme.mixins.scss';

.full-width {
  width: 100%;
}

.block {
  display: block;
}

.block-center {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.before {
  order: -1;
}

.after {
  order: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-icon {
  @include icon(1.5rem);
}

.fill-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.none {
  display: none;
}

.app-hover-icon {
  @include icon(1.5rem);
  @include scale-hover();
}
