.m0-a {
  margin: 0 auto;
}

.m-1 {
  margin: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.p-y-05 {
  padding: 0.5rem 0;
}

.m-x-3px {
  margin: 0 3px;
}
