@import './theme.variables.scss';
@import './colors.variables.scss';
@import './fonts/fonts.mixins.scss';

@mixin scale-hover($color: $flare, $value: $scale-value, $canScale: true) {
  transition: transform $animation-timing $animation-func;

  &:hover:not(.disabled) {
    @include gradient-font($color);
    @if ($canScale) {
      transform: scale($value);
    }
  }
}

@mixin theme-text($font-size: 1rem, $spacing: normal) {
  @include gradient-font(var(--theme-text));
  font-size: $font-size;
  letter-spacing: $spacing;

  &.disabled {
    @include gradient-font($theme-disabled-gradient);
  }
}

@mixin header($font-size: 1.7rem, $spacing: 2px) {
  letter-spacing: $spacing;
  @include rlw($font-size);
  @include gradient-font(var(--theme-text));
}

@mixin sub-header($font-size: 1.3rem) {
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.3;
  @include poiret($font-size);
  @include gradient-font(var(--theme-sub-gradient));
}

@mixin description-text($fz: 0.9rem) {
  color: var(--theme-description-text);
  letter-spacing: 2px;
  font-weight: bold;
  @include poiret($fz);
  @include gradient-font(var(--theme-text));
}

@mixin icon($fz: 1rem) {
  font-size: $fz;
  cursor: default;
  @include gradient-font(var(--theme-text));

  &[data-theme='reverse'] {
    @include gradient-font(var(--layout-gradient));
  }

  &.disabled {
    @include gradient-font($theme-disabled-gradient);
  }
}

@mixin close-icon($font-size: 2.5rem) {
  border-radius: 50%;
  cursor: pointer;
  font-size: $font-size;
  transform-origin: center center;
  transition: transform 0.2s ease-in, box-shadow 0.3s linear;
  transform: rotate(0deg);
  @include gradient-font(var(--theme-text));

  &:hover {
    box-shadow: var(--theme-box-shadow);
    transform: rotate(720deg) scale(1.1);
    @include gradient-font($flare);
  }
}

@mixin price($fz: 1rem) {
  line-height: 1.3;
  font-weight: bold;
  @include gothic($fz);
  @include gradient-font($easy-med);
}
