<article class="create">
  <div class="content">
    <div class="logo">
      <ng-upload-file
        class="upload"
        shape="rectangle"
        (changeFile)="changeFile($event)"
      ></ng-upload-file>
      <div class="img" *ngIf="preview | boolean" @ANPropShow>
        <ng-picture
          class="picture fill-container"
          [preview]="preview"
        ></ng-picture>
      </div>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <ng-form-input
        class="form-control stagger-item"
        formControlName="Title"
        fieldName="Название позиции"
        label="Название"
        [minlength]="getRange('Title', 'min')"
        [maxlength]="getRange('Title', 'max')"
      ></ng-form-input>
      <ng-form-input-number
        class="form-control stagger-item"
        formControlName="Cost"
        type="number"
        fieldName="Стоимость позиции"
        label="Стоимость"
        [min]="getRange('Cost', 'min')"
      ></ng-form-input-number>
      <ng-form-textarea
        class="form-control stagger-item"
        formControlName="Description"
        rows="3"
        fieldName="Описание позиции"
        label="Описание"
        [maxlength]="getRange('Description', 'max')"
      ></ng-form-textarea>
      <ng-loader-button
        class="action-btn stagger-item"
        type="submit"
        text="Создать"
        [disabled]="disabled"
        [loading]="isCreatedRequest"
      ></ng-loader-button>
    </form>
  </div>
</article>
