@import 'fonts/fonts.mixins.scss';
@import 'theme.mixins.scss';
@import 'animations.scss';

:host {
  margin-bottom: 1.5rem;
}

.create {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  width: 100%;
  max-width: 430px;
  padding: 2rem 3.5rem;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .logo {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .img {
        position: absolute;
        border-radius: 1rem;
        top: 0;
        left: 0;
        height: 150px;
        width: 200px;
        transform: translate(-50%, -50%);
        box-shadow: var(--theme-sub-box-shadow);
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      flex-grow: 0.7;
      min-width: 320px;
      $form-animate-children: 4;

      @include stagger(
        $animate: enterYTop,
        $childrenCount: $form-animate-children,
        $staggerStep: 0.2s,
        $fillMode: forwards
      );

      .stagger-item {
        opacity: 0;
        transform: translateY(-100%);
      }

      &-control {
        display: block;
        width: 100%;

        &:not(:first-child) {
          margin-top: 1rem;
        }
      }

      .action-btn {
        margin-top: 1rem;
        align-self: center;
      }
    }
  }
}
