<article class="content">
  <header class="header">
    <h5 class="header-text">Редактирование категории</h5>
    <ng-icon-button
      class="remove-icon"
      icon="delete"
      fontSize="2rem"
      ngTooltip="Удалить категорию"
      ngTooltipPlacement="bottom"
      (action)="confirmRemove()"
    ></ng-icon-button>
  </header>
  <article class="info">
    <div class="preview">
      <div class="img">
        <ng-theme-picture
          ngTheme
          class="picture fill-container"
          shape="round"
          [class.opacity]="!category.Preview"
          [lightUrl]="'categories/light-category.png'"
          [darkUrl]="'categories/dark-category.png'"
          [imgUrl]="category.Preview"
        ></ng-theme-picture>
      </div>

      <ng-upload-file
        class="upload"
        ngTooltip="Загрузить картинку"
        ngTooltipPlacement="bottom"
        (changeFile)="changeFile($event)"
      ></ng-upload-file>
    </div>

    <form [formGroup]="form" class="form">
      <ng-form-input-toggle
        class="form-control"
        formControlName="Title"
        fieldName="Название категории"
        [minlength]="getRange('Title', 'min')"
        [maxlength]="getRange('Title', 'max')"
        (edit)="changeValue($event)"
      >
      </ng-form-input-toggle>
      <ng-form-textarea-toggle
        class="form-control"
        formControlName="Description"
        fieldName="Описание категории"
        [maxlength]="getRange('Description', 'max')"
        (edit)="changeValue($event)"
      >
      </ng-form-textarea-toggle>
    </form>
  </article>

  <div class="positions">
    <ng-positions-list
      [categoryId]="category._id"
      (update)="updateCategoryPositions($event)"
    ></ng-positions-list>
  </div>
</article>
