@import 'theme.mixins.scss';
@import 'decoration.mixins.scss';

.content {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--theme-sub-shadow-bg);
  box-shadow: var(--theme-box-shadow);

  .header {
    display: flex;
    align-items: center;

    &-text {
      margin: 0 auto;
      @include header;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 4rem;

    .preview {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-right: 3rem;

      .img {
        margin-bottom: 1rem;
        position: relative;
        padding-top: 70%;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;

        .opacity {
          opacity: 0.4;
        }
      }
      .upload {
        align-self: flex-end;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 50%;

      .form-control {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }
}
