@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.badge {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  background-image: var(--theme-gradient);

  &-value {
    margin: auto;
    @include gradient-font(var(--layout-gradient));

    &:not(.material-icons) {
      @include comforta();
    }
  }
}
