<div class="main">
  <div
    class="content"
    @ANShowUserAvatar
    *ngIf="user$ | async as user"
    (click)="setFlag('isShowEditModal', true)"
  >
    <ng-user-info [user]="user"></ng-user-info>
  </div>
</div>
<ng-shadow
  *ngIf="viewFlags.isShowEditModal"
  @ANShowUserModal
  (close)="setFlag('isShowEditModal', false)"
>
  <ng-user-edit-modal
    class="modal"
    [user]="user$ | async"
    [loading]="dataFlags.isEditUser"
    (hideEditModal)="setFlag('isShowEditModal', false)"
    (edit)="edit($event)"
  ></ng-user-edit-modal>
</ng-shadow>
