<div class="chart" *ngIf="points?.length; else emptyTpl">
  <ng-border-wrapper class="border-wrapper">
    <ng-content select="before-chart"></ng-content>
    <div class="chart-item" ngTheme (setTheme)="setColorsScheme($event)">
      <ul class="points">
        <li
          class="points-item"
          *ngFor="let point of points; trackBy: trackByPoints"
          [style.height]="getCssSize()"
        >
          <span class="points-item-text">{{
            point | map: yAxisLabelFormatter
          }}</span>
        </li>
      </ul>
      <div class="columns">
        <div
          class="column"
          *ngFor="let col of seriesMap.keys()"
          [class.ladder]="ladderXAxisTicks"
        >
          <ul class="column-list" *ngIf="rectColorsMap" ngTheme>
            <li
              class="column-list-cell"
              *ngFor="let point of points"
              [style.height]="getCssSize()"
              [style.width]="getCssSize()"
            >
              <ng-container
                *ngTemplateOutlet="
                  rectTpl;
                  context: {
                    $implicit: getSeriesOptionByName(col, point),
                    col: col
                  }
                "
              ></ng-container>
            </li>
          </ul>
          <div class="column-name" [class.rotate]="rotateXAxisTicks">
            <span class="material-icons ladder-icon">trending_flat</span>
            <span class="column-name-text">{{
              col | map: xAxisLabelFormatter
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-border-wrapper>
  <div
    *ngIf="legendBackground && legend"
    class="legend"
    [class.after]="legendPosition | equal: 'after'"
  >
    <span class="legend-max-value">{{
      maxSeriesValue | map: legendLabelFormatter:'max'
    }}</span>
    <div
      class="legend-colors-range"
      [style.background]="legendBackground"
    ></div>
    <span class="legend-min-value">{{
      minSeriesValue | map: legendLabelFormatter:'min'
    }}</span>
  </div>
</div>

<ng-template #rectTpl let-option let-col="col">
  <div
    class="column-list-cell-rect"
    *ngIf="option; else emptyRectTpl"
    ngTooltipPlacement="top"
    [style.height]="size"
    [style.width]="size"
    [ngTooltipDisabled]="!showTooltip"
    [ngTooltip]="option.value | map: valueFormatter:option"
    [style.backgroundColor]="getRectBackground(option.value)"
  ></div>
</ng-template>
<ng-template #emptyRectTpl>
  <div
    class="column-list-cell-rect empty-rect"
    [style.height]="size"
    [style.width]="size"
  ></div>
</ng-template>

<ng-template #emptyTpl>
  <ng-empty-message text="Пусто"></ng-empty-message>
</ng-template>
