@use "sass:map";
@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import 'decoration.mixins.scss';
@import '../../styles/analytics.scss';

$line-height: 1.3;

$dark-theme: (
  'axisItemColor': cornsilk,
  'axisLabelColor': #ffc800,
  'axisLabelShadow': -1px 2px 1px #d0c006,
);
$light-theme: (
  'axisItemColor': dodgerblue,
  'axisLabelColor': steelblue,
  'axisLabelShadow': #4aa2a5 0px 3px 1px,
);

@function get-theme-map($type) {
  @if ($type == 'dark') {
    @return $dark-theme;
  }

  @return $light-theme;
}

@mixin theme($type) {
  $theme-map: get-theme-map($type);
}

.chart {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;

  .border-wrapper {
    order: 1;
    ::ng-deep {
      .border-row-item {
        height: 2rem !important;
        width: 2.5rem !important;
      }
    }
  }

  &-item {
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;

    .points {
      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;
        line-height: 1.3;
        @include gradient-border-side(var(--theme-gradient), 1px, 'bottom');

        &-text {
          font-family: fantasy;
          font-size: 0.85rem;
          white-space: nowrap;
          @include gradient-font(var(--theme-sub-gradient));
        }
      }
    }

    .columns {
      display: flex;
      flex-grow: 1;
      margin-left: 1rem;

      .column {
        position: relative;

        &-list {
          display: flex;
          flex-direction: column;
          align-items: center;

          &[data-theme='light_mode'] {
            .empty-rect {
              background: rgba(200, 200, 200, 0.2);
            }
          }

          &-cell {
            display: flex;
            &-rect {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: auto;
              border-radius: 0.5rem;

              &.empty-rect {
                background: rgba(200, 200, 200, 0.07);
              }
            }
          }
        }

        .column-name {
          width: 100%;
          text-align: center;
        }

        &:nth-child(even) {
          &.ladder {
            .column-name {
              &:not(.rotate) {
                display: flex;
                flex-direction: column;
                align-items: center;

                .ladder-icon {
                  display: block;
                  transform: rotate(-90deg);
                  @include gradient-font(var(--theme-sub-gradient));
                }
              }
            }
          }
        }

        &-name {
          position: absolute;
          line-height: 1rem;

          .ladder-icon {
            display: none;
          }

          &:not(.rotate) {
            margin-top: 0.5rem;
            left: 50%;
            transform: translateX(-50%);
          }

          &.rotate {
            top: 100%;
            right: 55%;
            transform: rotate(-45deg);
            padding-bottom: 3px;
            transform-origin: top right;
          }

          &-text {
            font-family: fantasy;
            font-size: 0.85rem;
            @include gradient-font(var(--theme-sub-gradient));
            @include gradient-border-side(var(--theme-gradient), 1px, 'bottom');
          }
        }
      }
    }
  }

  .legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;

    &:not(.after) {
      order: 0;
      margin-right: 1rem;
    }

    &.after {
      order: 2;
      margin-left: 1rem;
    }

    &-min-value,
    &-max-value {
      @include comforta(0.75rem);
      @include gradient-font(var(--theme-gradient));
    }

    &-colors-range {
      flex-grow: 1;
      width: 2rem;
      margin: 0.5rem 0rem;
      border-radius: 1rem;
    }
  }
}

.tooltip {
  @include tooltip;
}
