@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';
@import 'decoration.mixins.scss';
@import 'theme.mixins.scss';

.crumbs {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 2rem;
  top: 4.5rem;
  transition: width 0.3s linear;

  &:hover {
    .crumbs__item {
      max-width: 100%;
      transform: skew(-20deg);
    }
  }

  &__item {
    position: relative;
    max-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    background-image: var(--layout-gradient);
    text-align: center;
    cursor: pointer;
    transform: skewX(-20deg);
    transition: transform 0.3s linear, max-width 0.5s linear;
    @include gradient-border(var(--theme-gradient));

    &:hover,
    &.active {
      background-image: var(--theme-gradient);
      @include gradient-border(var(--layout-gradient));

      .crumbs__item-btn {
        @include gradient-font(var(--layout-gradient));
      }
    }

    &:not(:last-child) {
      border-right: none;
    }

    &.active {
      cursor: default;
      max-width: 100%;
    }

    &-btn {
      cursor: pointer;
      @include reset-btn;
      padding: 0.4rem 0.5rem;
      @include comforta(0.8rem);
      @include gradient-font(var(--theme-gradient));

      &:disabled {
        cursor: default;
      }
    }
  }
}
