<ng-container *ngAsync="crumbs$ | async as crumbs">
  <ul
    class="crumbs"
    *ngIf="crumbs?.length"
    [@ANStateChildTrigger]="crumbs.length"
  >
    <li
      class="crumbs__item"
      *ngFor="let crumb of crumbs; let first = first; let idx = index"
      @ANPropShow
      [class.active]="crumb.active"
    >
      <button
        class="crumbs__item-btn"
        [disabled]="crumb.active"
        (click)="navigate(crumb)"
      >
        {{ crumb.title }}
      </button>
    </li>
  </ul>
</ng-container>
