<li class="option" ngTheme (click)="navigate()" [class.active]="isActive">
  <div class="option-content">
    <span [class.active]="isActive" class="material-icons option-content-icon">
      {{ option.params.icon }}
    </span>
    <a [class.active]="isActive" class="option-link option-content-link">
      {{ option.title }}
    </a>
  </div>
</li>
