@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import 'decoration.mixins.scss';

:host {
  width: calc(50% - 10px);
  cursor: pointer;
  margin: 0.625rem 5px;

  &:hover > .option {
    width: 100%;
    border-radius: 1rem;

    &[data-theme='light_mode']:not(.active) {
      border-color: darkturquoise;
    }
    &[data-theme='dark_mode']:not(.active) {
      border-color: #ffec02d9;
    }
  }

  &:hover > .option .option-content .option-content-icon {
    top: -150%;
  }

  &:hover > .option .option-content .option-content-link {
    top: 50%;
    @include gradient-font(var(--theme-text));
  }

  &:hover > .active .option-content .option-content-link {
    @include gradient-font($flare);
  }

  .option {
    display: flex;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    padding: 0.5rem 0;
    transition: height 0.2s linear, width 0.2s ease-in,
      border-radius 0.4s ease-in-out, border-color 0.3s linear;

    &.active {
      border-color: orangered;
    }

    &-content {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in;

      &-icon,
      &-link {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: top 0.3s ease-in;
      }

      &-icon {
        top: 50%;
        font-size: 2rem;
        @include gradient-font($cloud);

        &.active {
          @include gradient-font($flare);
        }
      }

      &-link {
        top: 150%;
        text-decoration: none;
        letter-spacing: 2px;
        @include comforta();
        @include gradient-font($cloud);

        &.active {
          @include gradient-font($flare);
        }
      }
    }
  }
}
