<article class="container">
  <div class="control">
    <ng-form-toggle-value
      *ngIf="!isShowControl"
      type="textarea"
      [value]="value"
      [fieldName]="fieldName"
    ></ng-form-toggle-value>
    <ng-form-textarea
      *ngIf="isShowControl"
      [formControl]="childControl"
      [fieldName]="fieldName"
      [placeholder]="placeholder"
      [label]="label"
      [labelPlacement]="labelPlacement"
      [minlength]="minlength"
      [maxlength]="maxlength"
      [rows]="rows"
      [errorModule]="errorModule"
      [errors]="errors"
      [showReset]="showReset"
      (ngModelChange)="setValue($event)"
      (keyup.enter)="action()"
    ></ng-form-textarea>
  </div>
  <div class="actions" ngTheme>
    <ng-button
      class="btn"
      appearance="outline"
      [shape]="toggleShape"
      [size]="toggleSize"
      [icon]="toogleIcon"
      [disabled]="disabled"
      (action)="action()"
    ></ng-button>
  </div>
</article>
