@import 'theme.mixins.scss';
@import 'decoration.mixins.scss';
@import 'colors.variables.scss';
@import '../../scss/form.mixins.scss';

.container {
  display: flex;
  align-items: flex-start;

  .control {
    flex-grow: 1;
  }

  .actions {
    display: flex;
    align-items: center;
    align-self: flex-start;

    .btn {
      margin: 0 0.5rem;
    }
  }
}
