@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';
@import 'assets/styles/colors.variables.scss';
@import 'assets/styles/fonts/fonts.variables.scss';

$nb-enable-css-custom-properties: true;
$dark-mode: 'dark_mode';
$light-mode: 'light_mode';

$nb-themes: nb-register-theme(
  (
    text-paragraph-line-height: 2rem,
    paragraph-color: $cloud,
    tooltip-text-font-family: $rlw,
    list-item-line-height: 1.2rem,
    input-affix-hover-color: #ffc800,
    stepper-step-index-active-border-color: darken($theme-dark-color, 30%),
    stepper-step-index-border-width: 3px,
    stepper-step-active-text-color: $theme-dark-color,
    stepper-step-text-font-weight: bold,
    stepper-step-index-completed-background-color: $theme-dark-color,
    stepper-step-index-completed-border-color: lighten($theme-dark-color, 10%),
    stepper-step-index-completed-text-color: black,
    stepper-connector-completed-background-color:
      darken($theme-dark-color, 100%),
    input-basic-text-color: lightgoldenrodyellow,
    input-focus-color: $cloud,
    input-background: $premium-dark,
    input-border-width: 3px,
    error-font-weight: 800,
    circle-loader-color: darkorange,
    button-filled-basic-border-color: $theme-dark-border,
    button-outline-basic-border-color: $theme-dark-border,
    button-outline-basic-background-color: rgba(0, 0, 0, 0.7),
    button-filled-basic-hover-border-color: darkgoldenrod,
    button-outline-basic-hover-border-color: darkgoldenrod,
    form-control-border-color: lightgoldenrodyellow,
    theme-datepicker-hover-bg: rgba(250, 250, 210, 0.3),
    theme-backdrop: sepia(1),
    theme-backdrop-shadow: 0px 0px 5px 0px #db8b00,
    theme-text: $learning,
    theme-text-shadow: lightgoldenrodyellow 1px 0 10px,
    theme-item-bg: rgba(255, 255, 255, 0.2),
    theme-tooltip-bg: rgba(250, 250, 210, 0.7),
    theme-tooltip-text: $lawrencium,
    theme-input-text-color: lightgoldenrodyellow,
    theme-btn-text: $midnight,
    theme-description-text: white,
    theme-bg: rgba(0, 0, 0, 0.7),
    theme-shadow-bg: rgba(0, 0, 0, 0.7),
    theme-shadow-img: rgba(0, 0, 0, 0.7),
    theme-sub-shadow-bg: rgba(143, 155, 179, 0.16),
    theme-sub-color: black,
    theme-box-shadow: 0px 0px 20px 0px $theme-dark-color,
    theme-sub-box-shadow: 0px 0px 8px 3px lightgoldenrodyellow,
    theme-list-item-shadow: 0px 0px 5px 0px #fcf52d,
    theme-picture-shadow: 0px 0px 15px 0px lightgoldenrodyellow,
    theme-color: $theme-dark-color,
    theme-border-color: $theme-dark-border,
    theme-tabel-cell-border-color: #feca03,
    theme-pancake: $learning,
    theme-error-font-color: $roseanna,
    theme-gradient-circle: $theme-dark-gradient-circle,
    theme-gradient: $learning,
    theme-sub-gradient: $snapchat,
    theme-sub-item-bg: rgb(117 117 117 / 65%),
    layout-sub-gradient: $premium-dark,
    layout-gradient: $layout-dark-gradient,
    theme-cake-img: url(/assets/imgs/user/dark-modal.jpeg),
    category-img: url(/assets/imgs/categories/dark-info.jpg),
    crumbs-border: yellow,
  ),
  $dark-mode,
  dark
);

$nb-themes: nb-register-theme(
  (
    text-paragraph-line-height: 2rem,
    paragraph-color: $midnight,
    tooltip-text-font-family: $rlw,
    list-item-line-height: 1.2rem,
    stepper-step-index-active-border-color: $theme-default-color,
    stepper-step-index-border-width: 3px,
    stepper-step-active-text-color: darken($theme-default-color, 50%),
    stepper-step-text-font-weight: bold,
    stepper-step-index-completed-background-color:
      darken($theme-default-color, 50%),
    stepper-step-index-completed-border-color: $theme-default-color,
    stepper-step-index-completed-text-color: whitesmoke,
    stepper-connector-completed-background-color:
      darken($theme-default-color, 50%),
    input-basic-text-color: black,
    input-affix-hover-color: orangered,
    input-focus-color: $midnight,
    input-background: $knoxwille,
    input-border-width: 2px,
    error-font-weight: 400,
    circle-loader-color: dodgerblue,
    button-filled-basic-border-color: $theme-default-border,
    button-outline-basic-border-color: $theme-default-border,
    button-outline-basic-background-color: azure,
    button-filled-basic-hover-border-color: cyan,
    button-outline-basic-hover-border-color: rgb(0, 255, 255),
    form-control-border-color: #86e8ff,
    theme-datepicker-hover-bg: rgba(0, 255, 255, 0.1),
    theme-backdrop: saturate(100),
    theme-backdrop-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75),
    theme-text: $raspberry,
    theme-text-shadow: #66f7fb 1px 0 10px,
    theme-item-bg: rgba(70, 239, 231, 0.25),
    theme-tooltip-bg: rgba(105, 224, 243, 0.8),
    theme-tooltip-text: $sharp-blues,
    theme-input-text-color: steelblue,
    theme-btn-text: $salt,
    theme-description-text: dimgray,
    theme-bg: rgba(255, 255, 255, 0.95),
    theme-shadow-bg: rgba(0, 0, 0, 0.87),
    theme-shadow-img: rgba(255, 255, 255, 0.9),
    theme-sub-shadow-bg: rgba(255, 255, 255, 0.9),
    theme-sub-color: #ccf6ff,
    theme-box-shadow: 0px 0px 20px 0px $theme-default-color,
    theme-sub-box-shadow: 0px 0px 8px 2px #e2e2e2,
    theme-list-item-shadow: 0px 0px 20px 0px rgb(50 50 50 / 75%),
    theme-picture-shadow: 0px 0px 5px 0px rgb(50 50 50 / 75%),
    theme-color: $theme-default-color,
    theme-border-color: $theme-default-border,
    theme-tabel-cell-border-color: rgb(7 231 251 / 70%),
    theme-pancake: $raspberry,
    theme-error-font-color: $playing,
    theme-gradient-circle: $theme-default-gradient-circle,
    theme-gradient: $raspberry,
    theme-sub-gradient: $sharp-blues,
    theme-sub-item-bg: rgb(201 249 248 / 85%),
    layout-sub-gradient: $layout-default-gradient,
    layout-gradient: $layout-default-gradient,
    theme-cake-img: url(/assets/imgs/user/light-modal.png),
    category-img: url(/assets/imgs/categories/light-info.jpg),
    crumbs-border: orangered,
  ),
  $light-mode,
  default
);
