<ng-shadow class="shadow" [contentCenter]="false" (close)="hide()">
  <div class="content" *ngAsync="order$ | async as order">
    <div class="header animation-header">
      <h2 class="header-text">Завершить заказ</h2>
    </div>
    <div class="info">
      <ul
        @AnShowOrdersList
        class="list animation-list"
        *ngIf="order.Positions.length | boolean; else emptyTpl"
      >
        <ng-order-position
          class="list-item animation-list-item"
          *ngFor="let position of order.Positions; trackBy: trackByFn"
          [position]="position"
          (setQuantity)="setQuantity($event)"
          (remove)="removePosition($event)"
        ></ng-order-position>
      </ul>
      <div class="amount">
        <span class="amount-title">Общая сумма: </span>
        <span class="amount-value">{{
          order.TotalAmount | currency: 'RUB':'symbol-narrow':'1.1-1'
        }}</span>
      </div>
    </div>
    <footer class="actions animation-footer">
      <ng-loader-button
        class="submit-btn"
        text="Заказать"
        [disabled]="!order.Positions.length"
        [loading]="dataFlags.isSaved"
        (action)="save()"
      ></ng-loader-button>
    </footer>
  </div>
</ng-shadow>

<ng-template #emptyTpl>
  <ng-empty-message text="Позиции отсутствуют"></ng-empty-message>
</ng-template>
