@import 'colors.variables.scss';
@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';
@import 'decoration.mixins.scss';

.content {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;

  .header {
    padding: 1rem;
    text-align: center;
    width: 100%;
    background-image: var(--theme-gradient);
    &-text {
      @include sub-header(2.3rem);
      @include gradient-font(var(--layout-gradient));
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    padding: 2rem 0;
    background-image: var(--layout-gradient);

    .list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      overflow-y: auto;
      padding: 0 2rem 2rem;
      max-height: 400px;

      &-item {
        width: 100%;
        background-color: var(--theme-item-bg);
      }
    }

    .amount {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding-right: 3rem;
      padding-top: 1.5rem;
      @include gradient-border-side(var(--theme-gradient), 2px, 'top');

      &-title {
        font-family: fantasy;
        letter-spacing: 1px;
        margin-right: 1rem;
        font-weight: 900;
        align-self: flex-end;
        @include gradient-font(var(--theme-gradient));
      }

      &-value {
        @include price(2rem);
      }
    }
  }

  .actions {
    display: flex;
    height: 120px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%, 0% 0%);
    background-image: var(--theme-gradient);

    .submit-btn {
      margin: auto;
    }
  }
}
