@import 'decoration.mixins.scss';
@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

:host {
  ::ng-deep {
    .border-row-item {
      height: 1.5rem !important;
    }
  }
}

.position {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;

  .info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-right: 1rem;
    @include gradient-border-side(var(--theme-gradient), 1px, 'right');
    .picture {
      height: 80px;
      width: 80px;
    }

    .title {
      margin-left: 1rem;
      flex-grow: 1;
      @include gradient-font(var(--theme-gradient));
    }

    .quantity {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cost {
        @include price(1.4rem);
      }

      .form-control {
        margin-top: 1rem;

        ::ng-deep {
          i {
            font-size: 1.5rem !important;
          }
        }
      }
    }
  }

  .remove-icon {
    margin-left: 1rem;
  }
}
