<ng-border-wrapper>
  <li class="position">
    <div class="info">
      <div class="picture">
        <ng-theme-picture
          class="img"
          shape="square"
          [objectFit]="position.Item.Preview | condition: 'cover':'contain'"
          [lightUrl]="'positions/light.png'"
          [darkUrl]="'positions/dark.png'"
          [imgUrl]="position.Item.Preview"
        ></ng-theme-picture>
      </div>
      <h6 class="title">{{ position.Item.Title }}</h6>
      <div class="quantity">
        <div class="cost">
          {{ position.Item.Cost | currency: 'RUB':'symbol-narrow':'1.1-1' }}
        </div>
        <ng-form-quantity
          class="form-control"
          mode="vertical"
          [min]="getRange('PositionCount', 'min')"
          [max]="getRange('PositionCount', 'max')"
          [ngModel]="position.Quantity"
          (ngModelChange)="setQuantity($event)"
        ></ng-form-quantity>
      </div>
    </div>
    <ng-icon-button
      class="remove-icon"
      icon="delete_forever"
      ngTooltip="Удалить"
      ngTooltipPlacement="bottom"
      (action)="remove()"
    ></ng-icon-button>
  </li>
</ng-border-wrapper>
