// * Charts
@import 'fonts/fonts.mixins.scss';
@import 'theme.mixins.scss';

@mixin header {
  @include sub-header(2rem);
  text-align: left;
  margin-bottom: 0.5rem;
}

@mixin chart {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100%;
  box-shadow: var(--theme-sub-box-shadow);
  background-color: var(--theme-sub-item-bg);
}

@mixin chart-title {
  text-align: center;
  @include amatic(1.8rem);
  @include gradient-font(var(--theme-gradient));
}

@mixin tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    @include comforta();
    @include gradient-font(var(--theme-gradient));
  }

  &-value {
    font-family: fantasy;
    font-size: 1.3rem;
    @include gradient-font($easy-med);
  }
}
