<div class="box">
  <ng-upload-file
    fileType="IMG"
    class="upload"
    hidden
    #uploadRef="uploadRef"
    [fileCheckParams]="fileCheckParams"
    [showErrorToastr]="showErrorToastr"
    (changeFile)="changeFile($event)"
  ></ng-upload-file>
  <div
    class="picture"
    [class.pointer]="!disabled"
    (click)="!disabled && uploadRef.select()"
  >
    <ng-container
      *ngIf="picType | equal: 'empty'; then emptyTpl; else themeTpl"
    ></ng-container>
  </div>
</div>

<ng-template #emptyTpl>
  <ng-picture
    class="empty"
    [objectFit]="objectFit"
    [shape]="shape"
    [alt]="alt"
    [preview]="preview"
    [imgUrl]="imgUrl"
    [defaultUrl]="defaultUrl"
  >
  </ng-picture>
</ng-template>
<ng-template #themeTpl>
  <ng-theme-picture
    class="theme"
    [objectFit]="objectFit"
    [shape]="shape"
    [alt]="alt"
    [imgUrl]="imgUrl"
    [preview]="preview"
    [darkUrl]="darkUrl"
    [lightUrl]="lightUrl"
  ></ng-theme-picture>
</ng-template>
