.box {
  position: relative;
  width: 100%;
  height: 100%;

  .upload {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .picture {
    height: 100%;
    width: 100%;

    .theme,
    .empty {
      width: 100%;
      height: 100%;
    }
  }
}
