<div class="chart" ngTheme #themeRef="themeRef">
  <ngx-charts-advanced-pie-chart
    class="chart-item"
    [view]="view"
    [label]="label"
    [scheme]="colorsScheme || getColorsScheme(themeRef.current)"
    [results]="series"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip">
        <span class="tooltip-title"> {{ model.name }} </span>
        <span class="tooltip-value">{{
          model.value | map: valueFormatter
        }}</span>
      </div>
    </ng-template>
  </ngx-charts-advanced-pie-chart>
</div>
