@import 'fonts/fonts.mixins.scss';
@import 'fonts/fonts.variables.scss';
@import 'colors.variables.scss';
@import 'theme.mixins.scss';

:host {
  width: 100%;
}

.headboard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &-text {
      display: flex;
      align-items: center;
      letter-spacing: 3px;
      @include theme-text();

      &_food {
        display: flex;
        align-items: center;
        @include gothic(2rem);

        &-img {
          height: 50px;
          width: 50px;
          margin: 0 3px;
        }
      }

      &_farm {
        align-self: flex-start;
        margin-left: 1rem;
        font-weight: bolder;
        @include gothic(1.3rem);
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    box-shadow: var(--theme-box-shadow);
    overflow: hidden;
    user-select: none;

    &-icon {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
}

:host ::ng-deep .shadow .shadow-content {
  max-width: 600px;
}
