<div class="headboard">
  <div class="logo" (click)="home()">
    <p class="logo-text">
      <span class="logo-text_food">
        F
        <ng-theme-picture
          shape="circle"
          objectFit="contain"
          class="logo-text_food-img"
          [darkUrl]="'headboard/dark-food.png'"
          [lightUrl]="'headboard/light-food.png'"
        ></ng-theme-picture>
        <ng-theme-picture
          class="logo-text_food-img"
          shape="circle"
          objectFit="contain"
          [darkUrl]="'headboard/dark-food.png'"
          [lightUrl]="'headboard/light-food.png'"
        ></ng-theme-picture>

        d
      </span>
      <span class="logo-text_farm">Farm</span>
    </p>
  </div>
  <nav class="menu">
    <ng-icon-button
      class="menu-icon"
      icon="nights_stay"
      fontSize="2rem"
      ngTooltipPlacement="bottom"
      [ngTooltip]="getThemeMessage()"
      (action)="setTheme()"
    ></ng-icon-button>
    <ng-icon-button
      *ngIfAuth
      class="menu-icon"
      icon="person_remove"
      fontSize="2rem"
      ngTooltipPlacement="bottom"
      ngTooltip="Удалить аккаунт"
      (action)="remove()"
    ></ng-icon-button>
    <ng-icon-button
      class="menu-icon"
      icon="menu"
      fontSize="2rem"
      ngTooltipPlacement="bottom"
      ngTooltip="Открыть меню"
      (action)="menu('open')"
    ></ng-icon-button>
    <ng-icon-button
      *ngIfAuth
      @ANShowWidth
      class="menu-icon"
      icon="logout"
      fontSize="2rem"
      ngTooltipPlacement="bottom"
      ngTooltip="Выход"
      (action)="logout()"
    ></ng-icon-button>
  </nav>
</div>

<ng-shadow *ngIf="flags.isShowMenu" (close)="menu('close')" @ANMenuList>
  <ng-headboard-menu
    [options]="navOptions$ | async"
    (navigate)="navigate($event)"
  ></ng-headboard-menu>
</ng-shadow>
