<article
  class="form-control"
  [ngPlacement]="label | condition: labelPlacement:'none'"
>
  <label *ngIf="label" class="label"> {{ label }}: </label>
  <div class="control-content">
    <ng-content></ng-content>
  </div>
</article>
