@import '../../scss/form.mixins.scss';
:host {
  width: 100%;
}

.form-control {
  position: relative;
  height: 100%;
  @include form-control;

  ::ng-deep {
    .control-content {
      width: 100%;
      height: 100%;

      .control {
        height: 100%;
        .form-field {
          height: 100%;
        }
      }
    }

    .after {
      position: absolute;
      width: 100%;
      top: 100%;
    }
  }
}
