<article class="value" *ngIf="maxlength">
  <span class="value-current">{{ value?.length || 0 }}</span>
  <span class="value-separator">/</span>
  <span class="value-required">{{ maxlength }}</span>
</article>
