@import 'fonts/fonts.mixins.scss';
@import 'theme.mixins.scss';

.value {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: bold;
  user-select: none;
  @include rlw(0.9rem);

  &-current,
  &-required {
    @include theme-text(0.9rem, normal);
    @include rlw();
  }

  &-separator {
    margin: 0 0.3rem;
    @include gradient-font(var(--theme-sub-gradient));
  }
}
