@import 'theme.mixins.scss';
@import 'decoration.mixins.scss';
@import 'colors.variables.scss';
@import '../../scss/form.mixins.scss';

.container {
  display: flex;
  align-items: center;

  .control {
    flex-grow: 1;
    .value {
      padding: 1rem;
      border-radius: 0.25rem;
      @include theme-text();
      @include ubuntu(1.3rem);
    }
  }

  .actions {
    display: flex;
    align-items: center;
    align-self: flex-start;

    .btn {
      margin: 0 0.5rem;
    }
  }
}
