<article class="container">
  <div class="control">
    <ng-form-toggle-value
      *ngIf="!isShowControl"
      type="input"
      [value]="value"
      [fieldName]="fieldName"
    ></ng-form-toggle-value>
    <ng-form-input
      *ngIf="isShowControl"
      [formControl]="childControl"
      [type]="type"
      [fieldName]="fieldName"
      [placeholder]="controlPlaceholder"
      [label]="label"
      [labelPlacement]="labelPlacement"
      [size]="size"
      [shape]="shape"
      [minlength]="minlength"
      [maxlength]="maxlength"
      [prefixes]="prefixes"
      [suffixes]="suffixes"
      [pendingMessages]="pendingMessages"
      [errorModule]="errorModule"
      [errors]="errors"
      (ngModelChange)="setValue($event)"
      (keyup.enter)="action()"
    >
      <ng-content></ng-content>
    </ng-form-input>
  </div>
  <div class="actions" ngTheme>
    <ng-button
      class="btn"
      appearance="outline"
      [shape]="toggleShape"
      [size]="toggleSize"
      [icon]="toogleIcon"
      [disabled]="disabled"
      (action)="action()"
    ></ng-button>
  </div>
</article>
