<button
  nbButton
  class="button"
  [type]="type"
  [disabled]="disabled"
  [appearance]="appearance"
  [attr.data-appearance]="appearance"
  [shape]="shape"
  [attr.data-shape]="shape"
  [size]="size"
  [attr.data-size]="size"
  (click)="action()"
>
  <span *ngIf="text" class="text">{{ text }}</span>
  <i *ngIf="icon" class="material-icons icon">{{ icon }}</i>
  <ng-content></ng-content>
</button>
