@import '../utils/scss/buttons.mixins.scss';

:host {
  .button[data-appearance='filled'] {
    @include filled-button;
  }

  .button[data-appearance='outline'] {
    @include ouline-button;
  }

  .button[data-shape='circle'] {
    @include radius-button;
  }
}
