@import '../../styles/analytics.scss';

.content {
  .header {
    @include header;
  }

  .empty-message {
    font-size: 2rem;
  }

  .charts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .chart-content {
      @include chart;
      width: calc(50% - 1rem);

      .chart {
        transform-origin: center;
        &-title {
          @include chart-title;
        }
      }
    }
  }
}
