<div class="content">
  <h3 class="header" @ANAnalyticsHeader>Позиции</h3>
  <ng-container *ngIf="load; else loaderTpl">
    <div
      class="charts positions"
      *ngIf="analytics.length; else emptyTpl"
      @ANAnanlyticsPositions
    >
      <article
        class="chart-content"
        *ngFor="let chart of chartOptions"
        ngTheme
        #themeRef="themeRef"
      >
        <ng-analytics-pie-chart
          class="chart"
          legendTitle="Список"
          [labelFormatter]="valueFormatter(chart.extra)"
          [valueFormatter]="valueFormatter(chart.extra)"
          [series]="chart.series"
        >
          <ng-container
            *ngTemplateOutlet="beforeChartTpl; context: { $implicit: chart }"
            ngProjectAs="before-chart"
          ></ng-container>
        </ng-analytics-pie-chart>
      </article>
    </div>
  </ng-container>
</div>

<ng-template #loaderTpl>
  <ng-square-loader class="block m0-a" cubeSize="small"></ng-square-loader>
</ng-template>

<ng-template #emptyTpl>
  <ng-empty-message text="Аналитика по позициям отсутствует"></ng-empty-message>
</ng-template>

<ng-template #beforeChartTpl let-chart>
  <h6 class="chart-title">{{ chart.name }}</h6>
</ng-template>
