<div class="main">
  <h3 class="header">Вход в кабинет</h3>
  <form class="form" [formGroup]="form" (ngSubmit)="login()">
    <div class="group">
      <ng-form-input
        class="group-control"
        formControlName="Login"
        type="text"
        fieldName="Логин"
        placeholder="Введите логин"
        label="Логин"
        size="large"
        errorModule="auth"
        [maxlength]="getRange('Login', 'max')"
        [prefixes]="['email']"
        [suffixes]="['reset']"
      ></ng-form-input>
      <ng-form-input
        class="group-control"
        formControlName="Password"
        type="password"
        fieldName="Пароль"
        placeholder="Введите пароль"
        label="Пароль"
        size="large"
        errorModule="auth"
        [minlength]="getRange('Password', 'min')"
        [maxlength]="getRange('Password', 'max')"
        [suffixes]="['hide', 'reset']"
      ></ng-form-input>
    </div>
    <div class="actions">
      <ng-loader-button
        class="submit-btn"
        type="submit"
        text="Войти"
        [loading]="flags.isAuthenticate"
        [disabled]="form.invalid"
      ></ng-loader-button>
    </div>
  </form>
  <ng-auth-social
    class="social-webs"
    (auth)="loginBySocialWeb($event)"
  ></ng-auth-social>
</div>
