@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import 'decoration.mixins.scss';
@import 'theme.mixins.scss';

:host {
  .main {
    background-image: var(--layout-gradient);
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;

    .header {
      margin: 2rem;
      text-align: center;
      @include header();
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        margin: 0 auto;

        &-control {
          width: 100%;
          margin: 0.3rem 0;
        }
      }

      .actions {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
      }
    }

    .social-webs {
      display: flex;
      justify-content: center;
      margin: 1rem auto 0;
    }
  }
}
