<div class="chart" ngTheme #themeRef="themeRef">
  <ng-content select="before-chart"></ng-content>
  <ngx-charts-pie-chart
    ngTheme
    class="chart-item"
    [legendPosition]="legendPosition"
    [legendTitle]="legendTitle"
    [view]="view"
    [labelFormatting]="labelFormatter"
    [maxLabelLength]="maxLabelLength"
    [scheme]="colorsScheme || getColorsScheme(themeRef.current)"
    [results]="series"
    [labels]="labels"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip">
        <span class="tooltip-title"> {{ model.name }} </span>
        <span class="tooltip-value">{{
          model.value | map: valueFormatter
        }}</span>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>
