@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import '../../styles/analytics.scss';

.chart {
  &-item {
    @mixin label($labelColor) {
      ::ng-deep {
        .pie-label {
          fill: $labelColor;
          @include comforta(0.8rem);
        }
      }
    }

    &[data-theme='dark_mode'] {
      @include label(cornsilk);
    }

    &[data-theme='light_mode'] {
      @include label(dodgerblue);
    }
  }
}

.tooltip {
  @include tooltip;
}
