@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  padding-bottom: 1rem;

  .chart {
    position: relative;
    min-width: 280px;
    width: calc(50% - 1rem);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--theme-sub-item-bg);
    box-shadow: var(--theme-sub-box-shadow);

    &[data-type='heat-map'] {
      width: 100%;
    }

    .header {
      position: absolute;
      bottom: 100%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transform: translateY(25%);

      .period {
        border-radius: 0.5rem;
        padding: 0.7rem 0.9rem;
        background-image: var(--theme-gradient);

        &-text {
          @include comforta;
          @include gradient-font(var(--layout-gradient));
        }

        &-value {
          font-family: fantasy;
          font-size: 1.3rem;
          vertical-align: middle;
          @include gradient-font(var(--layout-gradient));
        }
      }

      .time {
        background-image: var(--theme-gradient);
        padding: 0.3rem 0.5rem;
        border-radius: 0.25rem;

        &-value {
          display: flex;
          align-items: center;
          font-weight: bold;
          @include gradient-font(var(--layout-gradient));
          @include rlw(0.7rem);

          .clock-icon {
            margin: 0 0.3rem;
          }
        }
      }
    }

    &-title {
      text-align: center;
      margin: 1rem 0;
      @include gradient-font(var(--theme-gradient));
      @include amatic(1.8rem);
    }

    &-item {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
