<div class="charts" *ngIf="charts.length" [@ANFilterChart]="charts.length">
  <div
    class="chart"
    *ngFor="let chart of charts; let odd = odd; trackBy: trackByCharts"
    ngTheme
    #themeRef="themeRef"
    [attr.data-type]="chart.type"
    [ngSwitch]="chart.type"
  >
    <div class="header">
      <div class="period">
        <span class="period-text">Период&nbsp;</span>
        <span class="period-value">{{ chart.title }}</span>
      </div>
      <div class="time">
        <span class="time-value">
          {{ chart.value.range.start | date: 'mediumDate' }}
          <i class="material-icons clock-icon">alarm_on</i>
          {{ chart.value.range.end | date: 'mediumDate' }}
        </span>
      </div>
    </div>

    <h6 class="chart-title">{{ getChartTitle(chart.value.type) }}</h6>

    <ng-container *ngIf="chart.series.length; else emptyTpl">
      <ng-analytics-pie-chart
        class="chart-item"
        *ngSwitchCase="'pie'"
        [series]="chart.series"
        [valueFormatter]="valueFormatter(chart.value.type)"
      ></ng-analytics-pie-chart>
      <ng-analytics-pie-grid-chart
        class="chart-item"
        *ngSwitchCase="'pie-grid'"
        [label]="'Выручка' | affix: getSuffix(chart.value.type)"
        [series]="chart.series"
        [valueFormatter]="valueFormatter(chart.value.type)"
      ></ng-analytics-pie-grid-chart>
      <ng-analytics-chart-heat-map
        class="chart-item"
        size="1.5rem"
        *ngSwitchCase="'heat-map'"
        [series]="chart.series"
        [valueFormatter]="valueFormatter(chart.value.type)"
        [legendLabelFormatter]="valueFormatter(chart.value.type)"
      ></ng-analytics-chart-heat-map>
    </ng-container>
  </div>
</div>

<ng-template #emptyTpl>
  <ng-empty-message text="Аналитика отсутствует"></ng-empty-message>
</ng-template>
