@import 'fonts/fonts.mixins.scss';
@import 'decoration.mixins.scss';
@import 'colors.variables.scss';

:host {
  display: flex;
  width: 100%;

  .section {
    width: 100%;
    padding-top: 4rem;

    .content {
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      background-color: whitesmoke;
      box-shadow: 0px 0px 40px 10px var(--theme-color) inset;
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
    }
  }
}
