@import 'decoration.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.form-control {
  ::ng-deep {
    nb-card {
      background-image: var(--layout-gradient);
      @include gradient-border(var(--theme-gradient));
    }

    nb-card-header {
      [nbbutton][ghost] {
        color: var(--crumbs-border);
        @include comforta();
        @include gradient-font(var(--theme-gradient));
      }
    }

    .day {
      text-transform: uppercase;
      @include comforta();
      @include gradient-font(var(--theme-gradient));
    }

    .range-cell {
      border-radius: 0.5rem;

      &:hover:not(.disabled) {
        background-color: var(--theme-datepicker-hover-bg);
        box-shadow: var(--theme-backdrop-shadow);
      }

      .cell-content {
        letter-spacing: 1px;
        @include gradient-font(var(--theme-sub-gradient));
        @include rlw();
      }

      &.today {
        .cell-content {
          border: none !important;
          box-shadow: var(--theme-sub-box-shadow);
        }
      }

      &.selected:not(.disabled) {
        background-image: var(--theme-gradient);
        .cell-content {
          @include gradient-font(var(--layout-gradient));
        }

        &:hover {
          background-image: var(--layout-gradient);
        }

        &:hover > .cell-content {
          @include gradient-font(var(--theme-gradient));
        }
      }

      &.disabled {
        .cell-content {
          @include gradient-font($theme-disabled-gradient);
        }
      }
    }
  }
}
