<ng-form-control
  [label]="label"
  [labelPlacement]="labelPlacement"
  class="content"
>
  <nb-calendar-range
    class="form-control"
    [min]="minDate"
    [max]="maxDate"
    [range]="range"
    (rangeChange)="setValue($event)"
  ></nb-calendar-range>
  <div class="after">
    <ng-form-messages
      class="messages"
      [control]="formControl.control"
      [fieldName]="fieldName"
      [errors]="formControl.control?.errors"
      [customErrors]="errors"
    >
      <ng-content select="messages"></ng-content>
    </ng-form-messages>
  </div>
</ng-form-control>
