.list {
  display: flex;

  &__item {
    margin: .5rem;
    cursor: pointer;
    height: 30px;
    width: 30px;

    &-img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}