@import 'extends.scss';

.main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: height 0.3s ease-in, width 0.3s ease-in,
    border-radius 0.3s ease-in;

  &[data-theme='light_mode'] {
    box-shadow: 0px 0px 10px 0px #00d1db;
  }

  &[data-theme='dark_mode'] {
    box-shadow: 0px 0px 10px 0px #c3db00;
  }

  &[data-shape='circle'] {
    border-radius: 50%;
  }

  &[data-shape='round'] {
    border-radius: 0.75rem;
  }

  &[data-shape='square'] {
    border-radius: 0;
  }

  .img {
    width: 100%;
    height: 100%;
    object-position: center;
  }
}
