<div class="preloader">
  <h6 class="header">Loading...</h6>
  <div class="cooking">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="area">
      <div class="sides">
        <div class="pan"></div>
        <div class="handle"></div>
      </div>
      <div class="pancake">
        <div class="pastry"></div>
      </div>
    </div>
  </div>
</div>
