@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
$anim_time: 2.1; // main pan/pancake animation (in seconds)
$flatten_deg: 85; // how round will the pancake be at the top/peak (in deg), affecting general animation though so not really adjustable
$angle: 27; // max pan's angle while flipping (in deg)
$peak: 40%; // pancake's highest level, obviously ;)
$color: rgb(94, 83, 83); // the rest
$pancake: var(--theme-pancake);

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--theme-shadow-bg);
}

.header {
  position: relative;
  top: 25vh;
  margin: 0 auto;
  width: 100vw;
  color: $color;
  text-align: center;
  font-size: 6vh;
  font-family: 'Amatic SC';
  opacity: 0.75;
  animation: pulse 2.5s linear infinite;
}

.cooking {
  position: relative;
  top: 0;
  overflow: hidden;
  margin: 0 auto;
  width: 75vh;
  height: 75vh;
  .bubble {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0.25vh lighten($color, 10%);
    opacity: 0;
  }
  .bubble:nth-child(1) {
    left: 58%;
    margin-top: 2.5vh;
    width: 2.5vh;
    height: 2.5vh;
    background-image: $pancake;
    animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
  }
  .bubble:nth-child(2) {
    left: 52%;
    margin-top: 3vh;
    width: 2vh;
    height: 2vh;
    background-image: $pancake;
    animation: bubble 2s ease-in-out 0.35s infinite;
  }
  .bubble:nth-child(3) {
    left: 50%;
    margin-top: 1.8vh;
    width: 1.5vh;
    height: 1.5vh;
    background-image: $pancake;
    animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
  }
  .bubble:nth-child(4) {
    left: 56%;
    margin-top: 2.7vh;
    width: 1.2vh;
    height: 1.2vh;
    background-image: $pancake;
    animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
  }
  .bubble:nth-child(5) {
    left: 63%;
    margin-top: 2.7vh;
    width: 1.1vh;
    height: 1.1vh;
    background-image: $pancake;
    animation: bubble 1.6s ease-in-out 1s infinite;
  }
  .area {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    background-color: transparent;
    transform-origin: 15% 60%;
    animation: flip #{$anim_time}s ease-in-out infinite;
    .sides {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: 15% 60%;
      animation: switchSide #{$anim_time}s ease-in-out infinite;
      .handle {
        position: absolute;
        right: 80%;
        bottom: 18%;
        width: 35%;
        height: 20%;
        border-top: 1vh solid $color;
        border-left: 1vh solid transparent;
        border-radius: 100%;
        background-color: transparent;
        transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
      }
      .pan {
        position: absolute;
        right: 30%;
        bottom: 20%;
        width: 50%;
        height: 8%;
        border-radius: 0 0 1.4em 1.4em;
        background-image: $pancake;
        transform-origin: -15% 0;
      }
    }
    .pancake {
      position: absolute;
      top: 24%;
      width: 100%;
      height: 100%;
      transform: rotateX(85deg);
      animation: jump #{$anim_time}s ease-in-out infinite;
      .pastry {
        position: absolute;
        right: 37%;
        bottom: 26%;
        width: 40%;
        height: 45%;
        border-radius: 100%;
        background-image: $pancake;
        box-shadow: 0 0 3px 0 $color;
        transform-origin: -20% 0;
        animation: fly #{$anim_time}s ease-in-out infinite;
      }
    }
  }
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(#{$flatten_deg}deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(#{$flatten_deg}deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(#{$flatten_deg}deg);
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-#{$angle}deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(#{$angle}deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: $peak;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: $peak;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}

@keyframes bubble {
  0% {
    top: 80%;
    opacity: 0;
    transform: scale(0.15, 0.15);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    top: 60%;
    opacity: 0;
    transform: scale(0.33, 0.33);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.25;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2, 1);
  }
  100% {
    opacity: 0.25;
    transform: scale(1, 1);
  }
}
