:host {
  width: 100%;
}

.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;

  .list-item {
    min-width: 170px;
  }

  @media (max-width: 380px) {
    flex-direction: column;
    align-items: center;
  }
}
