@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.value {
  letter-spacing: 1px;
  @include theme-text();

  &-current {
    &.input {
      letter-spacing: 1px;
      @include gothic(2rem);
    }

    &.textarea {
      letter-spacing: 0.5px;
      font-weight: bold;
      @include ubuntu(1rem);
    }
  }

  &-default {
    @include rlw(1rem);
  }
}
