<p class="value">
  <ng-container *ngIf="value; then currentTpl; else defaultTpl"></ng-container>
</p>

<ng-template #currentTpl>
  <span class="value-current" [ngClass]="getTypeClass()">{{ value }}</span>
</ng-template>
<ng-template #defaultTpl>
  <span class="value-default" [ngClass]="getTypeClass()">{{
    getDefaultText()
  }}</span>
</ng-template>
