<div class="main" ngTooltip="Редактировать" ngTooltipPlacement="bottom">
  <ng-picture
    class="picture"
    shape="circle"
    [defaultUrl]="viewService.getEmptyAvatar()"
    [imgUrl]="user.Avatar"
  ></ng-picture>
  <p class="title">{{ user.Name }}</p>
</div>
