@import 'colors.variables.scss';
@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover > .title {
    letter-spacing: 0.5rem;
    @include gradient-font($flare);
  }

  .picture {
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .title {
    cursor: pointer;
    font-weight: 800;
    transition: letter-spacing 0.3s ease-in;
    @include poiret();
    @include gradient-font(var(--theme-text));
  }
}
