<ng-form-control [label]="label" [labelPlacement]="labelPlacement">
  <ul
    class="radio"
    [class.center]="contentCenter"
    [class.column]="optionsDirection === 'column'"
  >
    <li
      class="radio__item"
      *ngFor="let item of groupOptions; trackBy: trackByFn"
      [ngPlacement]="optionLabelPlacement"
      [class.active]="isActiveOption(item.value)"
      [class.disabled]="isDisabledOption(item.value)"
      (click)="setValue(item.value)"
    >
      <span
        class="radio__item-title"
        [class.active]="isActiveOption(item.value)"
        [class.disabled]="isDisabledOption(item.value)"
        >{{ item.label }}</span
      >
      <div
        class="radio__item-control"
        [class.disabled]="isDisabledOption(item.value)"
      >
        <div
          class="radio__item-control-circle"
          [class.disabled]="isDisabledOption(item.value)"
          [class.active]="isActiveOption(item.value)"
        ></div>
      </div>
    </li>
  </ul>
</ng-form-control>
