@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import 'theme.mixins.scss';
@import './../../scss/form.mixins.scss';

.radio {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  &__item {
    display: flex;
    align-items: center;
    margin: 1rem;

    &-title {
      font-weight: 900;
      user-select: none;
      @include sub-header(0.8rem);

      &.disabled {
        @include gradient-font($theme-disabled-gradient);
      }
    }

    &-control {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      margin: 0.5rem;
      border-radius: 50%;
      border: 3px solid var(--theme-border-color);
      overflow: hidden;
      order: 1;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        border-color: $theme-disabled-color;
      }

      &-circle {
        margin: auto;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
        transform: translateX(-150%);
        background-image: var(--theme-gradient-circle);
        transition: transform 0.3s var(--app-bezier);

        &.active {
          transform: translateX(0%);
        }

        &.disabled {
          background-image: $theme-disabled-gradient;
        }
      }
    }
  }
}
