@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';

.filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .filter-icon {
    border-radius: 0.3rem;
    transition: padding 0.3s linear, box-shadow 0.3s linear;

    &.light {
      ::ng-deep {
        .app-hover-icon {
          @include gradient-font($flare);
        }
      }
    }

    &.active {
      padding: 0.2rem;
      box-shadow: var(--theme-sub-box-shadow);

      ::ng-deep {
        .app-hover-icon {
          @include gradient-font($flare);
        }
      }
    }
  }

  .content {
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 3;
    padding: 1rem;
    border-radius: 0.5rem;
    background-image: var(--layout-gradient);
    box-shadow: var(--theme-sub-box-shadow);

    .form {
      display: flex;
      flex-direction: column;

      .form-control {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }

      .actions {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        &-btn {
          &:last-child {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
