<div class="filter">
  <div [formGroup]="form" class="search">
    <ng-form-input
      class="search-control"
      placeholder="Поиск"
      formControlName="Title"
      fieldName="Название"
      [prefixes]="['search']"
      [maxlength]="getRange('Title', 'max')"
    ></ng-form-input>
  </div>

  <ng-icon-button
    class="filter-icon"
    icon="filter_alt"
    ngTooltip="Фильтрация"
    ngTooltipPlacement="bottom"
    [class.active]="filterValue | boolean"
    [class.light]="filterViewState | equal: 'show'"
    (action)="toogleViewFilterState()"
  ></ng-icon-button>

  <div class="content" *ngIf="filterViewState | equal: 'show'" @ANShowTranslate>
    <form class="form" [formGroup]="form">
      <ng-form-range
        class="form-control"
        label="Позиций в категории"
        formControlName="TotalPositions"
        fieldName="Количество позиций"
      ></ng-form-range>
      <ng-form-datepicker-range
        class="form-control"
        formControlName="Created"
        fieldName="Название"
      ></ng-form-datepicker-range>
      <div class="actions">
        <ng-button
          class="actions-btn"
          type="button"
          text="Сбросить"
          (action)="reset()"
          [disabled]="!filterValue | boolean"
        ></ng-button>
        <ng-loader-button
          class="actions-btn"
          type="button"
          text="Применить"
          (action)="filter(form.value)"
          [loading]="loading"
          [disabled]="disabled"
        ></ng-loader-button>
      </div>
    </form>
  </div>
</div>
