<ng-form-control [label]="label" [labelPlacement]="labelPlacement">
  <ngx-slider
    #sliderRef
    class="form-control"
    [attr.data-color-theme]="colorTheme"
    [options]="options"
    [(value)]="minValue"
    [(highValue)]="maxValue"
    (userChange)="setValue($event)"
  ></ngx-slider>
  <div class="after">
    <ng-form-messages
      class="messages"
      [control]="formControl.control"
      [fieldName]="fieldName"
      [errors]="formControl.control?.errors"
      [customErrors]="errors"
    >
      <ng-content select="messages"></ng-content>
    </ng-form-messages>
  </div>
</ng-form-control>
