@import 'fonts/fonts.mixins.scss';

.form-control {
  min-width: 180px;

  ::ng-deep {
    .ngx-slider-floor,
    .ngx-slider-ceil {
      @include comforta();
    }

    .ngx-slider-model-value,
    .ngx-slider-model-high,
    .ngx-slider-combined {
      font-family: fantasy;
    }
  }

  &[data-color-theme='default'] {
    ::ng-deep {
      .ngx-slider-bubble {
        @include gradient-font(var(--theme-gradient));
      }

      .ngx-slider-model-value,
      .ngx-slider-model-high,
      .ngx-slider-combined {
        @include gradient-font(var(--theme-sub-gradient));
      }

      .ngx-slider-pointer {
        background-image: var(--theme-gradient);

        &::after {
          background-image: var(--layout-gradient);
        }
      }

      .ngx-slider-selection {
        background-image: var(--theme-gradient);
      }
    }
  }
  &[data-color-theme='reverse'] {
    ::ng-deep {
      .ngx-slider-bubble {
        @include gradient-font(var(--layout-gradient));
      }

      .ngx-slider-model-value,
      .ngx-slider-model-high,
      .ngx-slider-combined {
        @include gradient-font(var(--layout-gradient));
      }

      .ngx-slider-pointer {
        background-image: var(--layout-gradient);

        &::after {
          background-image: var(--theme-gradient);
        }
      }

      .ngx-slider-selection {
        background-image: var(--layout-gradient);
      }
    }
  }
}
