<div class="chart" ngTheme #themeRef="themeRef">
  <ng-content select="before-chart"></ng-content>
  <ng-border-wrapper class="border-wrapper">
    <ngx-charts-pie-grid
      ngTheme
      class="chart-item"
      [label]="label"
      [view]="view"
      [scheme]="colorsScheme || getColorsScheme(themeRef.current)"
      [results]="series"
    >
      <ng-template #tooltipTemplate let-model="model">
        <div class="tooltip">
          <span class="tooltip-title">
            {{ model.name | map: nameFormatter }}
          </span>
          <span class="tooltip-value">{{
            model.value | map: valueFormatter
          }}</span>
        </div>
      </ng-template>
    </ngx-charts-pie-grid>
  </ng-border-wrapper>
</div>
