@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import '../../styles/analytics.scss';

.chart {
  .border-wrapper {
    width: 100%;

    ::ng-deep {
      .content {
        display: flex;
      }
    }

    .chart-item {
      margin: 0 auto;

      @mixin label($percent-color, $profit-color) {
        ::ng-deep {
          .label {
            &.percent-label {
              fill: $percent-color;
              font-weight: bold;
              @include poiret(2rem);
            }

            &:nth-child(3) {
              fill: var(--theme-input-text-color);
              letter-spacing: 1px;
              font-weight: bold;
              @include rlw(0.7rem);
            }

            &:nth-child(4) {
              fill: $profit-color;
              @include comforta(0.8rem);
            }
          }
        }
      }

      &[data-theme='dark_mode'] {
        @include label(#feca03, cornsilk);
      }

      &[data-theme='light_mode'] {
        @include label(dodgerblue, cornflowerblue);
      }
    }
  }
}

.tooltip {
  @include tooltip;
}
