<div
  class="categories"
  *ngIf="categories$ | async as categories"
  pageEndpoint
  (endpoint)="expand()"
>
  <div class="actions">
    <div class="filter">
      <div class="search">
        <ng-form-input
          class="search-control"
          placeholder="Поиск"
          fieldName="Название"
          [maxlength]="getRange('Title', 'max')"
          [formControl]="searchControl"
          [prefixes]="['search']"
          [suffixes]="['reset']"
        ></ng-form-input>
      </div>
    </div>
    <ng-button
      *ngIf="isShowOrderBtn"
      @ANPropShow
      class="order-btn"
      text="Завершить"
      (click)="toggleOrderModal()"
    >
    </ng-button>
  </div>

  <ul
    class="list"
    *ngIf="categories.items.length; else emptyTpl"
    [@ANShowOrdersCategories]="categories.items.length"
  >
    <ng-orders-categories-item
      class="list-item stagger-item"
      *ngFor="let category of categories.items"
      [category]="category"
      (selectPositions)="togglePositionsModal($event)"
    ></ng-orders-categories-item>
  </ul>
</div>

<ng-orders-positions-list
  @ANShowFade
  *ngIf="category$ | async as category"
  [category]="category"
  (hide)="togglePositionsModal(null)"
></ng-orders-positions-list>

<ng-template #emptyTpl>
  <ng-empty-message text="Список категорий пуст"></ng-empty-message>
</ng-template>
