.categories {
  .actions {
    display: flex;

    .filter {
      display: flex;
      flex-grow: 1;
      align-items: baseline;
      padding-right: 1rem;
    }
  }

  .list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
}
