<li class="order">
  <div class="order-header">
    <div class="created">
      <div class="created-time">
        <i class="material-icons">alarm_on</i>
        <span class="created-time-value">{{
          order.Created | date: 'HH:mm'
        }}</span>
      </div>
      <div class="created-date">
        <span class="created-date-value">
          {{ order.Created | date: 'mediumDate' }}
        </span>
      </div>
    </div>

    <h6 class="text">Заказ:</h6>
  </div>
  <div class="content">
    <ul class="positions" [@ANXaxisTransfromSides]="order.Positions.length">
      <li
        *ngFor="let position of order.Positions; let idx = index"
        ngTheme
        #themeRef="themeRef"
        class="positions-item stagger-item"
        [style.backgroundColor]="
          getPositionStatusColor(getPosStatus(position), themeRef.current)
        "
      >
        <div class="info">
          <span class="info-count">{{ idx + 1 }}.</span>
          <span class="info-title">{{ position.PositionTitle }}</span>
          <div class="info-price">
            <span class="info-price-cost">{{
              position.PositionCost | currency: 'RUB':'symbol-narrow':'1.1-1'
            }}</span>
            <i class="material-icons info-price-icon">subscript</i>
            <span class="info-price-quantity">{{ position.Quantity }}</span>
          </div>
          <ng-badge
            *ngIf="isShowPositionBadge(position)"
            class="state-icon"
            type="icon"
            size="20px"
            ngTooltip
            ngTooltipPlacement="top"
            [ngTooltipTemplate]="
              position.Status
                | equal: 'active'
                | condition: positionActiveTpl:removedPositionTpl
            "
            [ngTooltipContext]="{ $implicit: position }"
            [value]="getPositionIcon(position.Status)"
          ></ng-badge>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer">
    <div class="total-amount">
      <ng-border-wrapper height="2rem">
        <div class="total-amount-content">
          <span class="total-amount-title">Общая стоимость:</span>
          <span class="total-amount-value">{{
            order.TotalAmount | currency: 'RUB':'symbol-narrow':'1.1-1'
          }}</span>
        </div>
      </ng-border-wrapper>
    </div>
    <div class="actions">
      <ng-badge
        *ngIf="isShowAmountIcon()"
        class="badge"
        type="icon"
        value="published_with_changes"
        size="30px"
        ngTooltip
        ngTooltipPlacement="top"
        [ngTooltipTemplate]="totalAmountTpl"
      ></ng-badge>
      <ng-button
        class="repeat-btn"
        icon="repeat_one_on"
        text="Повторить"
        [disabled]="RecalculateAmount <= 0"
        (action)="repeat()"
      ></ng-button>
    </div>
  </div>
</li>

<ng-template #totalAmountTpl>
  <div class="total-amount-tooltip">
    <span class="title"> Текущая стоимость заказа: </span>
    <span class="value">{{ RecalculateAmount }}₽</span>
  </div>
</ng-template>

<ng-template #positionActiveTpl let-position>
  <div class="position-changes">
    <h6 class="position-changes-header">Что изменилось:</h6>
    <ol class="position-changes-list">
      <li
        class="change"
        *ngFor="
          let item of position.NewState
            | excludeProps: ['PositionUpdated']
            | keyvalue
            | map: convertToChanges:position
        "
      >
        <span class="change-title"> {{ item.key }}: </span>
        <span class="change-value"> {{ item.value }} </span>
      </li>
    </ol>
  </div>
</ng-template>

<ng-template #removedPositionTpl>
  <div class="removed-position">
    <span class="removed-position-text">Позиция была удалена</span>
  </div>
</ng-template>
