@import 'colors.variables.scss';
@import 'decoration.mixins.scss';
@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.order {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  background-image: var(--layout-gradient);
  box-shadow: var(--theme-backdrop-shadow);

  .header,
  .footer {
    background: linear-gradient(
        to top,
        var(--theme-shadow-img),
        var(--theme-shadow-img)
      ),
      var(--theme-cake-img) no-repeat center;
    background-size: cover;
  }

  .order-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .created {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-53%);
      margin-bottom: -1rem;

      &-time,
      &-date {
        padding: 0.3rem 1rem;
        background-image: var(--theme-gradient);
        @include comforta();

        &-value,
        i {
          @include gradient-font(var(--layout-gradient));
        }
      }

      &-time {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        border-bottom: 1px solid var(--theme-sub-color);

        &-value {
          font-size: 0.8rem;
        }

        i {
          font-size: 1.3rem;
          margin-right: 0.5rem;
        }
      }

      &-date {
        border-radius: 3px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include sub-header(2.3rem);

      &:after {
        content: '';
        display: block;
        height: 3px;
        width: 5rem;
        margin-top: 1rem;
        background-image: var(--theme-gradient);
      }
    }
  }

  .content {
    flex-grow: 1;

    .positions {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-height: 300px;
      overflow-y: auto;
      padding: 2rem 0;

      &-item {
        position: relative;
        background-color: var(--theme-item-bg);

        .picture {
          position: absolute;
          top: 0;
          left: 3px;
          width: 50px;
          height: 50px;
          transform: translateY(-60%);

          ::ng-deep {
            .main {
              box-shadow: var(--theme-picture-shadow);
            }
          }
        }

        .info {
          display: flex;
          width: 100%;
          padding: 0rem 1.7rem;
          position: relative;

          .state-icon {
            position: absolute;
            right: 1rem;
            top: 0;
            transform: translate(60%, -60%);
            align-self: center;
            font-size: 1.3rem;
            cursor: default;
            @include gradient-font(var(--theme-gradient));
          }

          &-count {
            align-self: flex-start;
            line-height: 1.3;
            margin-right: 0.3rem;
            @include price(2rem);
          }

          &-title {
            align-self: center;
            flex-grow: 1;
            line-height: 1.3;
            font-weight: bold;
            @include amatic(1.7rem);
            @include gradient-font(var(--theme-text));
          }

          &-price {
            display: flex;
            align-self: center;
            &-cost {
              margin: 0 0.3rem;
              align-self: center;
              @include price(1.5rem);
            }

            &-icon {
              align-self: baseline;
              font-size: 1.4rem;
              @include gradient-font($easy-med);
            }

            &-quantity {
              font-weight: bold;
              align-self: flex-start;
              @include gothic(1.3rem);
              @include gradient-font(var(--theme-sub-gradient));
            }
          }
        }
      }
    }
  }

  .footer {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    .total-amount {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      width: 100%;
      margin-top: 1.5rem;
      padding-right: 1.7rem;

      &-content {
        padding: 0 1rem;
      }

      &-title {
        font-family: fantasy;
        letter-spacing: 1px;
        margin-right: 1rem;
        @include gradient-font(var(--theme-gradient));
      }

      &-value {
        line-height: 1.3;
        font-weight: bold;
        @include gothic(2rem);
        @include gradient-font($easy-med);
      }

      .new-state-icon {
        align-self: flex-start;
        font-size: 1.5rem;
        margin-left: 0.5rem;
        cursor: default;
        @include gradient-font(var(--theme-gradient));
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      position: relative;
      width: 100%;

      .badge {
        position: relative;
        z-index: 1;
        cursor: default;

        ::ng-deep {
          .badge {
            box-shadow: var(--theme-backdrop-shadow);
          }
        }
      }

      .repeat-btn {
        transform: translate(-15%, 30%);
      }
    }
  }
}

// * Templates

.template-container {
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-image: var(--layout-gradient);
  box-shadow: var(--theme-sub-box-shadow);
}

.total-amount-tooltip {
  @extend .template-container;
  flex-direction: column;
  align-items: center;

  .title {
    font-weight: bold;
    @include gradient-font(var(--theme-sub-gradient));
    @include comforta(0.8rem);
  }

  .value {
    margin-top: 0.5rem;
    @include price(1.4rem);
  }
}

.position-changes {
  @extend .template-container;
  flex-direction: column;
  align-items: center;

  &-header {
    @include amatic(1.5rem);
    @include gradient-font(var(--theme-gradient));
  }

  &-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    .change {
      margin-top: 0.5rem;
      @include price();

      &-title {
        font-weight: 900;
        letter-spacing: 1px;
        @include poiret();
        @include gradient-font(var(--theme-gradient));
      }

      &-value {
        @include price;
        @include comforta(0.8rem);
      }
    }
  }
}

.removed-position {
  @extend .template-container;

  &-text {
    @include comforta(0.9rem);
    @include gradient-font(var(--theme-gradient));
  }
}
