<div class="sort">
  <ng-icon-button
    icon="sort"
    class="sort-icon"
    [class.open]="isOpen"
    [class.active]="sortValue | boolean"
    (action)="toggleShow()"
  ></ng-icon-button>

  <div class="group" *ngIf="isOpen" @ANPropShow @ANShowFade>
    <div class="header">
      <h6 class="title">Сортировка</h6>
    </div>
    <ng-border-wrapper class="border-wrapper" height="2rem">
      <ng-form-radio
        class="form-control"
        optionLabelPlacement="top-center"
        optionsDirection="column"
        [formControl]="formControl"
        [groupOptions]="sortOptions"
        (ngModelChange)="sort($event)"
      ></ng-form-radio>
    </ng-border-wrapper>

    <div class="footer" *ngIf="sortValue">
      <ng-icon-button
        class="direction-icon"
        icon="multiple_stop"
        fontSize="2rem"
        [class.active]="isDesc()"
        (action)="toggleSortDirection()"
      ></ng-icon-button>
      <ng-icon-button
        class="close-icon"
        icon="highlight_off"
        fontSize="2.5rem"
        (action)="reset()"
      ></ng-icon-button>
    </div>
  </div>
</div>
