@import 'colors.variables.scss';
@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.sort {
  position: relative;

  &-icon,
  .direction-icon {
    &.open,
    &.active {
      ::ng-deep {
        .icon {
          @include gradient-font($flare);
        }
      }
    }
  }

  .group {
    position: absolute;
    top: 100%;
    right: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    min-width: 240px;
    width: 15vw;
    border-radius: 0.5rem;
    background-image: var(--layout-gradient);
    box-shadow: var(--theme-sub-box-shadow);

    .header {
      .title {
        text-align: center;
        @include comforta(1.3rem);
        @include gradient-font(var(--theme-text));

        &:after {
          content: '';
          display: block;
          width: 5rem;
          height: 3px;
          margin: 1rem auto 0;
          background-image: var(--theme-gradient);
        }
      }
    }

    .border-wrapper {
      margin-top: 2rem;
      .form-control {
        margin-top: 1.5rem;
        width: 100%;

        ::ng-deep {
          .radio__item {
            &:after {
              content: '';
              order: 1;
              margin-top: 1rem;
              width: 6rem;
              height: 3px;
              background-image: var(--theme-gradient);
            }

            &-title {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      .direction-icon {
        ::ng-deep {
          .icon {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
