@import './fonts.variables.scss';

@mixin amatic($font-size: 1rem) {
  font-family: $amatic;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin rlw($font-size: 1rem) {
  font-family: $rlw;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin poiret($font-size: 1rem) {
  font-family: $poiret;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin comforta($font-size: 1rem) {
  font-family: $comforta;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin ubuntu($font-size: 1rem) {
  font-family: $ubuntu;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin didact($font-size: 1rem) {
  font-family: $didact;
  font-size: $font-size;
  line-height: $line-height;
}
@mixin gothic($font-size: 1rem) {
  font-family: $gothic;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin gradient-font(
  $color: linear-gradient(45deg, #0b2349 33%, #0d61bc 66%, #5f5f5f)
) {
  background-image: $color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
