@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Pathway+Gothic+One&family=Comfortaa:wght@700&family=Poiret+One&family=Raleway:wght@300&family=Amatic+SC:wght@400;700&family=Ubuntu:ital,wght@1,500&display=swap');

$amatic: 'Amatic SC', cursive;
$comforta: 'Comfortaa', cursive;
$poiret: 'Poiret One', cursive;
$rlw: 'Raleway', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$gothic: 'Pathway Gothic One', sans-serif;
$didact: 'Didact Gothic', sans-serif;
$line-height: 1.3;
