@import 'fonts/fonts.mixins.scss';

.main {
  width: 100%;
  max-width: 600px;
  min-width: 310px;

  .form-box {
    position: relative;
    background-image: var(--layout-gradient);
    padding: 3rem 2rem 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    &[data-theme='dark_mode'] {
      box-shadow: 0px 0px 15px 0px lightgoldenrodyellow;
    }

    &[data-theme='light_mode'] {
      box-shadow: 0px 0px 5px 0px rgb(50 50 50 / 75%);
    }

    .upload {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90px;
      height: 90px;
      cursor: pointer;
    }

    .form {
      display: flex;
      flex-direction: column;

      .row-inputs {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5rem;

        .form-control {
          width: calc(50% - 1rem);
          margin: 0 0.5rem;
        }
      }

      .description-control {
        margin-top: 2.5rem;
        width: 100%;
      }

      .action-btn {
        align-self: center;
        margin-top: 2.5rem;
      }
    }
  }

  .footer {
    display: flex;
    background-image: var(--theme-gradient);
    min-height: 180px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%, 0% 0%);

    &-text {
      @include amatic();
      margin: auto;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: 3px;
      @include gradient-font(var(--layout-gradient));
    }
  }
}
