<div class="main">
  <div class="form-box" ngTheme @ANShowContent>
    <div class="upload">
      <ng-upload-picture
        class="picture"
        picType="theme"
        shape="circle"
        [lightUrl]="'positions/light.png'"
        [darkUrl]="'positions/dark.png'"
        [imgUrl]="position.Preview"
        (changeFile)="changeFile($event)"
      ></ng-upload-picture>
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="row-inputs">
        <ng-form-input
          class="form-control stagger-item"
          label="Название"
          formControlName="Title"
          fieldName="Название"
          labelPlacement="top-center"
          [suffixes]="['reset']"
          [minlength]="getRange('Title', 'min')"
          [maxlength]="getRange('Title', 'max')"
        ></ng-form-input>
        <ng-form-input-number
          class="form-control stagger-item"
          formControlName="Cost"
          type="number"
          fieldName="Стоимость"
          label="Стоимость"
          labelPlacement="top-center"
          [min]="getRange('Cost', 'min')"
        ></ng-form-input-number>
      </div>
      <ng-form-textarea
        class="form-control stagger-item description-control"
        formControlName="Description"
        rows="3"
        fieldName="Описание"
        label="Описание"
        labelPlacement="top-center"
        [maxlength]="getRange('Description', 'max')"
      ></ng-form-textarea>
      <ng-loader-button
        class="action-btn stagger-item"
        type="submit"
        icon="save"
        [disabled]="isDisabledForm()"
        [loading]="isEdited"
      ></ng-loader-button>
    </form>
  </div>
  <div class="footer" @ANShowFooter>
    <p class="footer-text">Редактирование</p>
  </div>
</div>
