@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

@mixin control-label {
  @include poiret();
  @include theme-text(1.2rem, 2px);
  font-weight: 900;
  line-height: 1.5;
}

@mixin input-border-radius {
  &.rectangle {
    border-radius: 0.25rem;
  }

  &.semi-round {
    border-radius: 0.75rem;
  }

  &-round {
    border-radius: 1.5rem;
  }
}

@mixin input-container {
  position: relative;
  z-index: 2;
  min-width: 180px;
  min-height: 2.75rem;
  background-image: var(--input-background);
  padding: 0 0.2rem;
  border: var(--input-border-width) solid var(--form-control-border-color) !important;
  border-radius: 0.25rem;
  transition: border-color 0.3s linear, border-width 0.3s linear;

  &::ng-deep .nb-form-control-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input {
    padding: 0 0.5rem;
    @include input-text;
  }

  &.disabled {
    border-color: $theme-disabled-color !important;
    background-image: $above-sky;
  }
}

@mixin input-text {
  width: 100%;
  flex-grow: 1;
  border: none;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: 2px;
  color: var(--theme-input-text-color);
  @include poiret();

  &::placeholder {
    letter-spacing: 2px;
    color: #b4b3b3 !important;
    transition: color 0.3s linear;
    @include comforta(0.8rem);
  }

  &:disabled {
    @include gradient-font($premium-dark);
  }
}

@mixin form-control {
  display: flex;
  width: 100%;

  .label {
    @include control-label();
  }

  .control {
    width: 100%;

    .after {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .messages {
        flex-grow: 1;
      }
    }
  }
}

@mixin after-control {
  display: flex;

  .messages {
    flex-grow: 1;
  }
}
