<div class="table">
  <ng-table
    [rows]="categories.items"
    [columns]="completedColumns"
    [paginate]="paginate"
    [count]="categories.totalCount"
    [loading]="loading"
    (pagination)="pagination($event)"
    (sort)="sort($event)"
  ></ng-table>
</div>

<!-- * Table cell templates START -->

<!-- *Title -->
<ng-template #titleTpl let-row="row">
  <span class="title">{{ row.Title }}</span>
</ng-template>

<!-- *TotalPositions -->
<ng-template #totalPositionsTpl let-row="row">
  <span class="total-positions">{{ row.TotalPositions }}</span>
</ng-template>

<!-- *Created -->
<ng-template #createdTpl let-row="row">
  <span class="created">{{ row.Created | date: 'mediumDate' }}</span>
</ng-template>

<!-- *Description -->
<ng-template #descriptionTpl let-row="row">
  <span class="description">{{ row.Description || 'Отсутствует' }}</span>
</ng-template>

<!-- *Actions -->
<ng-template #actionsTpl let-row="row">
  <div class="actions">
    <ng-icon-button
      icon="edit"
      ngTooltip="Редактировать"
      (action)="navigateToCategory(row._id)"
    ></ng-icon-button>
  </div>
</ng-template>

<!-- * Table cell templates END -->
