@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import 'app.mixins.scss';

.table {
  ::ng-deep {
    .header-totalpositions,
    .header-created,
    .header-description {
      text-align: center;
    }

    .cell-totalpositions {
      text-align: center;
    }
  }
}

.title {
  font-weight: bold;
  letter-spacing: 1px;
  @include amatic(1.7rem);
  @include gradient-font(var(--theme-text));

  &:hover {
    @include gradient-font($flare);
  }
}

.total-positions {
  font-size: 1.5rem;
  font-family: fantasy;
  @include gradient-font($easy-med);
}

.created {
  @include comforta();
  @include gradient-font(var(--theme-text));
}

.description {
  font-size: 0.8rem;
  letter-spacing: 1px;
  white-space: initial;
  @include line-clamp(2);
  @include comforta(0.9rem);
  @include gradient-font(var(--theme-text));
}

.actions {
  display: flex;
  justify-content: flex-end;
}
