<div class="select" [class.disabled]="disabled">
  <div class="value" [class.disabled]="disabled" (click)="togglePanel($event)">
    <ng-container
      *ngIf="multiple; then multipleTpl; else singleTpl"
    ></ng-container>
    <div class="actions">
      <span
        class="material-icons text action-icon expand-icon"
        [class.expand]="isShowPanel"
      >
        expand_more
      </span>
      <ng-icon-button
        class="text action-icon reset-icon"
        icon="dangerous"
        [disable]="isDisabledReset()"
        (action)="changeValue(null)"
      ></ng-icon-button>
    </div>
  </div>
  <ul class="list" *ngIf="isShowPanel" @ANShowListOptions>
    <ng-form-select-option
      class="list-option block"
      *ngFor="let option of options; let odd = odd"
      [@ANShowDifferentSides]="odd | condition: 'left':'right'"
      [option]="option"
      [multiple]="multiple"
      [active]="isActiveOption(option)"
      [disabled]="isDisabledOption(option)"
      (changeValue)="setValue($event)"
    ></ng-form-select-option>
  </ul>
</div>

<ng-template #singleTpl>
  <span class="text label" [class.empty]="!value">{{ getLabel() }}</span>
</ng-template>

<ng-template #multipleTpl>
  <div class="multiple-value">
    <ng-badge
      class="badge"
      *ngIf="value?.length"
      size="30px"
      fontSize=".8rem"
      [value]="value.length"
    ></ng-badge>
    <span *ngIf="value?.length < 1" class="label empty">
      {{ getPlaceholder() }}
    </span>
    <div
      class="multiple-list"
      *ngIf="value?.length | boolean"
      @ANShowMultipleValue
    >
      <div
        class="chips"
        @ANShowMultipleChips
        *ngFor="let option of getMultipleValueOptions(); trackBy: trackByLabel"
      >
        <span class="chips-item">{{ option.label }}</span>
        <ng-icon-button
          class="chips-remove-icon"
          icon="highlight_off"
          theme="reverse"
          (action)="setValue(option.value)"
        ></ng-icon-button>
      </div>
    </div>
  </div>
</ng-template>
