@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';
@import 'decoration.mixins.scss';
@import 'core.variables.scss';
@import 'app.mixins.scss';

.select {
  min-width: 220px;
  position: relative;

  .value {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-image: var(--layout-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include gradient-border(var(--theme-gradient));

    .multiple-value {
      display: flex;
      flex-direction: column;
      .badge {
        position: absolute;
        top: -1rem;
        left: -1rem;
      }

      .multiple-list {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
        max-width: 161px;
        padding-bottom: 0.3rem;
        transition: padding-bottom 0.3s linear;

        &:empty {
          padding-bottom: 0;
        }

        .chips {
          display: flex;
          align-items: center;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-image: var(--theme-gradient);

          &:not(:first-child) {
            margin-left: 0.5rem;
          }

          &-item {
            @include rlw(0.8rem);
            @include gradient-font(var(--layout-gradient));
          }
          &-remove-icon {
            margin-left: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }

    .label {
      font-weight: bold;
      letter-spacing: 1px;
      @include rlw(0.8rem);
      @include gradient-font(var(--theme-gradient));

      &.empty {
        @include amatic(1.4rem);
      }
    }

    .text {
      font-weight: 900;
      letter-spacing: 1px;
      @include gradient-font(var(--theme-gradient));
    }

    .actions {
      display: flex;
      align-items: center;

      .expand-icon {
        transition: transform 0.3s ease-in;

        &.expand {
          transform: rotate(-180deg);
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      background-image: $theme-disabled-gradient;
      @include gradient-border($theme-disabled-gradient);

      .text {
        @include gradient-font($theme-disabled-font-gradient);
      }
    }
  }

  .list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $max-z-index - 1;
    width: 100%;
    max-height: 205px;
    overflow: hidden auto;

    &-option {
    }
  }
}
