@import 'theme.mixins.scss';

$x-offset: 1.5rem;

:host {
  display: block;
}

.content {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  border-radius: 0.25rem;
  background-image: var(--layout-sub-gradient);
  box-shadow: var(--theme-box-shadow);
  transform: translateX(-50%);

  .close-icon {
    align-self: flex-end;
    margin-right: $x-offset;
    @include close-icon(1.5rem);
  }

  .question {
    padding: 1rem $x-offset 1.5rem;
    text-align: center;
    @include sub-header(1rem);
  }

  .actions {
    align-self: flex-end;
    display: flex;
    padding: 0 $x-offset;

    &__btn:first-child {
      margin-right: 1rem;
    }
  }
}
