<ng-shadow (close)="reply(false)" [contentCenter]="false" @ANShowConfirm>
  <article class="content">
    <h6 class="question">{{ message }}</h6>
    <div class="actions">
      <ng-button
        class="actions__btn"
        text="Отменить"
        appearance="outline"
        [disabled]="disabled"
        (action)="reply(false)"
      ></ng-button>
      <ng-loader-button
        class="actions__btn"
        text="Подтвердить"
        [disabled]="disabled"
        [loading]="loading"
        (action)="reply(true)"
      ></ng-loader-button>
    </div>
  </article>
</ng-shadow>
