<nb-layout class="layout">
  <nb-layout-header class="header">
    <ng-headboard></ng-headboard>
  </nb-layout-header>

  <nb-layout-column class="main" ngTheme>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer class="footer"></nb-layout-footer>
</nb-layout>

<ng-container ngConfirm></ng-container>
<ng-container ngPreloader></ng-container>
<ng-container ngInsertCrumbs></ng-container>
<ng-container ngTooltipOverlay></ng-container>
<ng-toastr-list></ng-toastr-list>
