@import 'core.scss';

.layout {
  overflow-x: hidden;
  .header {
    background-image: var(--layout-gradient);
  }

  .main {
    padding-top: 4rem !important;
    background-size: 100% auto !important;

    &[data-theme='light_mode'] {
      background: url('/assets/imgs/main/light-veget.png') repeat-y;
    }
    &[data-theme='dark_mode'] {
      background: url('/assets/imgs/main/dark-veget.png') repeat-y;
    }
  }

  .footer {
    ::ng-deep nav {
      background-image: var(--layout-gradient);
    }
  }
}
