@import 'animations.scss';

.circle {
  display: block;
  border-radius: 50%;
  border-style: solid;
  border-top-color: darkturquoise;
  border-bottom-color: var(--circle-loader-color);
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 1s linear infinite, scale 0.3s ease-in;
}
