@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';

.border-wrapper {
  display: block;
  background-color: var(--theme-sub-item-bg);
  height: 100%;
}

.period {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      &-text {
        @include comforta(1.3rem);
        @include gradient-font(var(--theme-gradient));
      }

      &-value {
        font-size: 1.5rem;
        font-family: fantasy;
        margin-left: 0.5rem;
        @include gradient-font(var(--theme-sub-gradient));
      }
    }

    .remove-icon {
      margin-left: auto;
    }
  }

  .form {
    margin-top: 1rem;

    .range-control {
      margin-top: 1rem;
      width: 100%;

      ::ng-deep {
        nb-card {
          max-width: 280px;

          .day,
          nb-calendar-view-mode > button {
            font-size: 0.8rem;
          }

          nb-calendar-range-day-cell {
            height: 35px;

            .cell-content {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
