<ng-border-wrapper height="2rem" class="border-wrapper">
  <div class="period">
    <div class="header">
      <h6 class="title">
        <span class="title-text">Период</span>
        <span class="title-value">{{ count }}</span>
      </h6>
      <ng-icon-button
        *ngIf="isCanRemoved"
        class="remove-icon"
        icon="auto_delete"
        (action)="remove()"
      ></ng-icon-button>
    </div>
    <form class="form" [formGroup]="form">
      <ng-form-select
        formControlName="type"
        [options]="typeOptions"
      ></ng-form-select>
      <ng-form-datepicker-range
        formControlName="range"
        class="form-control range-control"
      ></ng-form-datepicker-range>
    </form>
  </div>
</ng-border-wrapper>
