<div class="content">
  <h3 class="header" @ANAnalyticsHeader>Заказы</h3>
  <ng-container *ngIf="load; else loaderTpl">
    <div
      class="charts orders"
      *ngIf="analytics; else emptyTpl"
      @ANAnalyticsOrders
    >
      <article
        class="chart-content"
        ngTheme
        #themeRef="themeRef"
        *ngFor="let period of periods"
      >
        <ng-analytics-pie-grid-chart
          class="chart"
          *ngIf="themeRef.currentTheme"
          label="Выручка  (₽)"
          [series]="period.series"
          [valueFormatter]="valueFormatter"
        >
          <ng-container
            *ngTemplateOutlet="beforeChartTpl; context: { $implicit: period }"
            ngProjectAs="before-chart"
          >
          </ng-container>
        </ng-analytics-pie-grid-chart>
      </article>
    </div>
  </ng-container>
</div>

<ng-template #loaderTpl>
  <ng-square-loader class="block m0-a" cubeSize="small"></ng-square-loader>
</ng-template>

<ng-template #emptyTpl>
  <ng-empty-message text="Аналитика по заказам отсутствует"></ng-empty-message>
</ng-template>

<ng-template #beforeChartTpl let-period>
  <h6 class="chart-title">{{ period.name }}</h6>
  <span class="total-profit">
    <span class="total-profit-value">{{ getTotalAmount(period) }} ₽</span>
    <span class="total-profit-title">(общая)</span>
  </span>
</ng-template>
