@import '../../styles/analytics.scss';

.content {
  .header {
    @include header;
  }

  .charts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .chart-content {
      width: calc(33.3% - (4rem / 3));
      @include chart;

      .chart {
        .chart-title {
          @include chart-title;
        }

        .total-profit {
          display: block;
          text-align: center;

          &-value {
            font-weight: bold;
            @include gothic(2.7rem);
            @include gradient-font($easy-med);
          }

          &-title {
            margin-left: 1rem;
            @include comforta();
            @include gradient-font(var(--theme-gradient));
          }

          @include gradient-font($easy-med);
        }
      }
    }
  }
}
