<div
  class="category"
  *ngIf="category$ | async as category"
  @ANPropShow
  [ngCrumb]="category.Title | replaceDefault: 'Новая категория'"
  [ngCrumbRoute]="['/categories', category._id | replaceDefault: '0'] | url"
  [ngCrumbId]="category._id | replaceDefault: '0'"
>
  <ng-container
    *ngTemplateOutlet="
      $any(isCreatedMode()) ? createTpl : editTpl;
      context: { category: category }
    "
  ></ng-container>
</div>

<ng-template #createTpl let-category="category">
  <ng-category-create
    [category]="category"
    [loading]="dataFlags.isCreated"
    (create)="create($event)"
  ></ng-category-create>
</ng-template>
<ng-template #editTpl let-category="category">
  <ng-category-edit
    [category]="category"
    (edit)="edit($event)"
    (remove)="confirmRemove($event)"
    (updatePositions)="updatePositions($event)"
  ></ng-category-edit>
</ng-template>
