@import 'buttons.variables.scss';
@import 'colors.variables.scss';
@import 'decoration.mixins.scss';
@import 'fonts/fonts.mixins.scss';

@mixin button(
  $bg: var(--theme-gradient),
  $hoverBg: none,
  $textColor: var(--theme-text),
  $textHoverColor: $flare
) {
  $duration: 0.3s;
  $timing-function: var(--app-bezier);

  transition: height $duration $timing-function,
    width $duration $timing-function, border-radius $duration $timing-function;
  @include content-center;

  &:not(:disabled) {
    background: $bg;
    @if ($hoverBg != none) {
      background: $hoverBg;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba(143, 155, 179, 0.24);
  }

  &:not(:disabled) > .text,
  &:not(:disabled) > .icon {
    @include gradient-font($textColor);
  }

  &:hover:not(:disabled) > .text,
  &:hover:not(:disabled) > .icon {
    @include gradient-font($textHoverColor);
  }

  &:disabled > .text,
  &:disabled > .icon {
    @include gradient-font($theme-disabled-gradient);
  }
}

@mixin ouline-button($focus-shadow: none) {
  @include button(var(--button-outline-basic-background-color));

  &:focus {
    box-shadow: $focus-shadow;
  }
}

@mixin filled-button {
  @include button($textColor: var(--theme-btn-text));
}

@mixin radius-button {
  border-width: 3px;

  &[data-size='small'] {
    @include circle($button-small-radius);
  }

  &[data-size='medium'] {
    @include circle($button-medium-radius);
  }

  &[data-size='large'] {
    @include circle($button-large-radius);
  }

  &[data-size='giant'] {
    @include circle($button-giant-radius);
  }
}
