@import 'colors.variables.scss';
@import 'theme.mixins.scss';
@import 'decoration.mixins.scss';
@import 'fonts/fonts.mixins.scss';
@import 'extends.scss';

.category {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  background-image: var(--layout-gradient);
  box-shadow: var(--theme-list-item-shadow);

  .total-positions-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translate(50%, -50%);
  }

  .preview {
    position: relative;
    padding-top: 50%;
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: var(--theme-picture-shadow);

    .description {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(calc(-100% + 2rem));
      z-index: 2;
      border-radius: 0.5rem;
      transition: transform 0.3s var(--app-bezier);

      &.active {
        transform: translateY(0%);
      }

      &-box {
        display: flex;
        flex-direction: column;
        height: 100%;

        &[data-theme='light_mode'] {
          background-color: rgb(0 149 247 / 50%);

          .description-box-text {
            color: #0031a0;
          }
        }

        &[data-theme='dark_mode'] {
          background-color: rgba($color: #000000, $alpha: 0.8);

          .description-box-text {
            color: #ffc800;
          }
        }

        &-text {
          flex-grow: 1;
          text-align: center;
          overflow-y: auto;
          padding: 1rem 2rem;
          letter-spacing: 2px;
          font-weight: bold;
          @include poiret(0.9rem);
        }

        .description-icon {
          position: relative;
          cursor: pointer;
          font-size: 2rem;
          align-self: center;
          user-select: none;
          height: 2rem;
          transition: transform 0.3s ease-in-out;
          @extend .app-hover-icon;

          &.active {
            transform: rotate(180deg) !important;
          }
        }
      }
    }

    &-picture {
      @extend .fill-container;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;

    .title {
      margin-top: 1rem;
      @include sub-header();
    }

    .minmax-price {
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-image: var(--theme-gradient);

    .range {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-value {
        font-size: 1.2rem;
        font-family: fantasy;
        @include gradient-font(var(--layout-gradient));
      }

      &-separator {
        margin: 0.5rem 0;
        height: 2px;
        width: 2rem;
        background-image: var(--layout-gradient);
      }

      &-title {
        font-weight: bold;
        @include rlw();
        @include gradient-font(var(--layout-gradient));
      }
    }

    .menu-icon {
      margin: 1rem;

      ::ng-deep {
        .icon.app-hover-icon {
          @include gradient-font(var(--layout-gradient));

          &:hover {
            @include gradient-font($flare);
          }
        }
      }
    }
  }
}
