<li class="category">
  <ng-badge
    [value]="category.TotalPositions"
    class="total-positions-badge"
  ></ng-badge>
  <div class="preview">
    <div
      class="description"
      *ngIf="category.Description | boolean"
      [class.active]="isShowDescription"
    >
      <div class="description-box" ngTheme>
        <p class="description-box-text">
          {{ category.Description || 'Описание отсутствует' }}
        </p>
        <i
          class="material-icons description-icon"
          (click)="toggleDescription()"
          [class.active]="isShowDescription"
        >
          expand_more
        </i>
      </div>
    </div>

    <ng-theme-picture
      class="preview-picture"
      [objectFit]="category.Preview | condition: 'cover':'contain'"
      [imgUrl]="category.Preview"
      [darkUrl]="'categories/dark-preview.png'"
      [lightUrl]="'categories/light-preview.png'"
    ></ng-theme-picture>
  </div>
  <div class="info">
    <h6 class="title">{{ category.Title }}</h6>
    <span class="minmax-price"> </span>
  </div>
  <div class="actions">
    <div class="range range-min">
      <span *ngIf="category.MinPositionCost | defined" class="range-value">{{
        category.MinPositionCost | currency: 'RUB':'symbol-narrow':'1.0'
      }}</span>
      <div class="range-separator"></div>
      <span class="range-title" *ngIf="category.MinPositionCost | defined"
        >от</span
      >
    </div>
    <ng-icon-button
      class="menu-icon"
      icon="restaurant_menu"
      fontSize="2.5rem"
      (action)="selectPositions()"
    ></ng-icon-button>
    <div class="range range-max">
      <span *ngIf="category.MaxPositionCost | defined" class="range-value">{{
        category.MaxPositionCost | currency: 'RUB':'symbol-narrow':'1.0'
      }}</span>
      <div class="range-separator"></div>
      <span class="range-title" *ngIf="category.MaxPositionCost | defined"
        >до</span
      >
    </div>
  </div>
</li>
