@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';
@import 'animations.scss';

:host {
  width: 100%;

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .messages {
      width: 100%;

      &-item {
        margin: 0.2rem 0;
        letter-spacing: 2px;
        font-weight: bold;
        animation: enterYTop 0.4s ease-in;
        @include rlw(0.7rem);
        @include gradient-font(var(--theme-text));
      }
    }
  }
}
