<div
    class="main"
    *ngIf='isShowTpls'
>
    <ul class="messages">
        <li
            class="messages-item"
            *ngFor='let message of messages; trackBy:trackByFn'
        >
            {{ message }}
        </li>
        <li
            class="messages-item"
            *ngFor='let template of templates; trackBy:trackByFn'
        >
            <ng-container *ngTemplateOutlet='template'></ng-container>
        </li>
    </ul>
</div>
