<div
  class="tooltip"
  *ngIf="tooltipPlacement"
  @ANShowFade
  [@ANShowTooltip]="tooltipPlacement"
  [attr.data-placement]="tooltipPlacement"
  [ngStyle]="getTooltipStyles()"
  [class.default]="!tooltipTpl"
>
  <ng-container
    *ngIf="tooltipTpl; then tooltipTemplate; else textTpl"
  ></ng-container>
</div>

<ng-template #tooltipTemplate>
  <ng-container
    *ngTemplateOutlet="tooltipTpl; context: tooltipContext"
  ></ng-container>
</ng-template>

<ng-template #textTpl>
  <span class="tooltip-text" [innerHTML]="getContent()"></span>
</ng-template>
