@import 'core.variables.scss';
@import 'fonts/fonts.variables.scss';
@import 'decoration.mixins.scss';

$sides: 'top', 'bottom', 'left', 'right';

.tooltip {
  position: fixed;
  z-index: $max-z-index;
  text-align: center;
  padding: 0.2rem 0.5rem;
  transition: transform 0.3s ease-in;

  &.default {
    border-radius: 0.5rem;
    background-color: var(--theme-tooltip-bg);

    &:after {
      position: absolute;
      display: block;
      content: '';
    }

    @each $side in $sides {
      &[data-placement='#{$side}'] {
        &:after {
          @include triangle-side($side, 0.5rem, var(--theme-tooltip-bg));
        }
      }
    }
  }

  &-text {
    // padding: 1rem;
    @include comforta(0.8rem);
    @include gradient-font(var(--theme-tooltip-text));
  }
}
