<div class="box">
  <div class="file">
    <input
      #fileRef
      hidden
      type="file"
      class="file__control"
      [accept]="getAccept()"
      (change)="changeFile($event)"
    />
    <ng-button
      type="button"
      [text]="text"
      [icon]="icon"
      [disabled]="disabled"
      [appearance]="appearance"
      [shape]="shape"
      [size]="size"
      (action)="select()"
    ></ng-button>
  </div>
</div>
