<li class="category">
  <div class="title">
    <h6 class="title-text">{{ category.Title | symbollimit: 24 }}</h6>
  </div>
  <div class="content">
    <div class="preview">
      <div class="preview-box" ngTheme>
        <ng-theme-picture
          class="picture fill-container"
          shape="square"
          objectFit="contain"
          [darkUrl]="getdefaultUrl('dark')"
          [lightUrl]="getdefaultUrl('default')"
          [imgUrl]="category.Preview"
        ></ng-theme-picture>
      </div>
    </div>
    <div class="actions">
      <ng-icon-button
        class="edit"
        icon="edit"
        fontSize="1.7rem"
        ngTooltip="Редактировать"
        ngTooltipPlacement="left"
        (action)="navigateToCategory()"
      ></ng-icon-button>
      <ng-icon-button
        class="info"
        icon="info"
        fontSize="1.7rem"
        [ngTooltip]="
          isOpenInfo | condition: 'Закрыть':'Открыть' | affix: ' информацию'
        "
        ngTooltipPlacement="right"
        [class.open]="isOpenInfo"
        (action)="toggleInfo()"
      ></ng-icon-button>
    </div>
    <div class="details" [class.open]="isOpenInfo">
      <ul class="details-content">
        <li
          class="details-content-item"
          *ngFor="
            let item of sortDetails(
              $any(category | pick: getDetailsKeys() | keyvalue)
            );
            trackBy: trackByDetails
          "
          [class.none]="item.value | equal: '':null"
          [ngClass]="getDetailClass(item.key)"
        >
          <span class="details-content-item-title">{{
            getDetailTitle(item.key)
          }}</span>
          <span class="details-content-item-value">{{
            mapDetailsValue(item.key, item.value)
          }}</span>
        </li>
      </ul>
    </div>
  </div>
</li>
