@import 'decoration.mixins.scss';
@import 'theme.mixins.scss';
@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';

.category {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: var(--theme-list-item-shadow);

  .title {
    background-image: var(--theme-gradient);

    &-text {
      letter-spacing: 1px;
      font-weight: 900;
      text-align: center;
      padding: 0.5rem;
      @include amatic(2rem);
      @include gradient-font(var(--layout-gradient));
    }
  }

  .content {
    position: relative;
    background-image: var(--layout-gradient);

    .preview {
      padding: 1rem;

      &-box {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        padding-top: 50%;
        box-shadow: var(--theme-picture-shadow);

        .picture {
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding: 1rem 0.5rem;

      .edit {
      }

      .info {
        position: relative;
        z-index: 2;
        margin-left: 1rem;
        &.open {
          ::ng-deep .btn .icon {
            @include gradient-font(var(--layout-gradient));

            &:hover {
              @include gradient-font($flare);
            }
          }
        }
      }
    }

    .details {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      clip-path: circle(4% at calc(100% - 1.4rem) calc(100% - 1.8rem));
      background-image: var(--theme-gradient);
      opacity: 0;
      transition: clip-path 0.4s ease-in, opacity 0.5s linear;

      &.open {
        opacity: 1;
        clip-path: circle(135% at calc(100% - 1.4rem) calc(100% - 1.8rem));
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 0.5rem;

          &:not(:last-child):after {
            content: '';
            display: block;
            height: 5px;
            width: 5rem;
            background: var(--layout-gradient);
            border-radius: 1rem;
            margin-top: 1rem;
          }

          &.description {
            width: 100%;
            flex-grow: 1;
            text-align: center;

            &.none {
              display: none;
            }
          }

          &-title {
            font-weight: bold;
            @include rlw();
            @include gradient-font($sunset);
          }

          &-value {
            font-family: fantasy;
            margin-top: 0.5rem;
            @include gradient-font($cloud);
          }
          &.totalpositions {
            .details-content-item-value {
              padding: 0.4rem 0;
              font-size: 2rem;
            }
          }

          &.desciption {
            .details-content-item-value {
              font-size: 0.9rem;
            }
          }

          &.created {
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
