@import 'theme.mixins.scss';
@import 'decoration.mixins.scss';
@import 'fonts/fonts.mixins.scss';
@import 'extends.scss';

.position {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: var(--theme-sub-box-shadow);
  height: 100%;

  .picture {
    position: relative;
    padding-top: 50%;
    width: 100%;
    max-height: 150px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
    @include gradient-border-side(var(--theme-gradient), 1px, 'bottom');

    .img {
      @extend .fill-container;
    }
  }

  .main {
    position: relative;
    flex-grow: 1;
    padding: 2rem 1.5rem 3rem;
    background-image: var(--layout-gradient);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    .info {
      display: flex;
      flex-direction: column;

      &-head,
      &-footer {
        display: flex;
        justify-content: space-between;

        .text {
          flex-grow: 1;
          padding-right: 1rem;
        }

        .item {
          margin-left: auto;
        }
      }

      &-head {
        .title {
          font-weight: 900;
          @include amatic(1.7rem);
          @include gradient-font(var(--theme-gradient));
        }

        .form-control {
          ::ng-deep {
            .material-icons.icon {
              font-size: 1.7rem !important;
            }
          }
        }
      }

      &-footer {
        .description {
          flex-grow: 1;
          padding-right: 1rem;
          @include description-text();
        }

        .position-cost {
          font-family: fantasy;
          font-size: 2rem;
          padding: 1rem 0;
          @include gradient-font($easy-med);
        }
      }
    }

    .actions {
      position: absolute;
      bottom: 0;
      right: 1rem;
      transform: translateY(35%);

      .action-btn {
        align-self: flex-end;

        &.active {
          ::ng-deep {
            .text,
            .icon {
              @include gradient-font($flare);
            }
          }
        }
      }
    }
  }
}
