<li class="position">
  <div class="picture">
    <ng-theme-picture
      class="img"
      shape="square"
      [objectFit]="position.Item.Preview | condition: 'cover':'contain'"
      [lightUrl]="'positions/light.png'"
      [darkUrl]="'positions/dark.png'"
      [imgUrl]="position.Item.Preview"
    ></ng-theme-picture>
  </div>
  <div class="main">
    <div class="info">
      <div class="info-head">
        <h6 class="title text">{{ position.Item.Title }}</h6>
        <ng-form-quantity
          class="form-control item"
          mode="vertical"
          [formControl]="formControl"
          [min]="getRange('PositionCount', 'min')"
          [max]="getRange('PositionCount', 'max')"
        ></ng-form-quantity>
      </div>
      <div class="info-footer">
        <p class="description text" *ngIf="position.Item.Description | boolean">
          {{ position.Item.Description }}
        </p>
        <span class="position-cost item">{{
          position.Item.Cost | currency: 'RUB':'symbol-narrow':'1.1-1'
        }}</span>
      </div>
    </div>

    <div class="actions">
      <ng-button
        class="action-btn"
        [class.active]="isAddedToCart"
        [disabled]="formControl.invalid"
        [icon]="
          isAddedToCart | condition: 'remove_shopping_cart':'add_shopping_cart'
        "
        [text]="isAddedToCart | condition: 'Убрать':'Добавить'"
        (action)="action()"
      ></ng-button>
    </div>
  </div>
</li>
