.section {
  padding: 3rem 0;
  border-radius: 0.5rem;
  transition: background-color 0.3s linear;

  &[data-theme='light_mode'] {
    background-color: #c8eef391;
  }

  &[data-theme='dark_mode'] {
    background-color: rgb(0 0 0 / 62%);
  }
}
