@import 'theme.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.categories {
  flex-direction: column;
  display: flex;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 0.5rem;

    &-icon {
      border-radius: 0.3rem;
      transition: padding 0.3s linear, box-shadow 0.3s linear;

      &.active,
      &.sort-icon {
        padding: 0.2rem;
        box-shadow: var(--theme-sub-box-shadow);

        ::ng-deep {
          .app-hover-icon {
            @include gradient-font($flare);
          }
        }
      }
    }

    .filter {
      flex-grow: 1;
    }
  }

  .list-content {
    margin-top: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
  }
}

.parent {
  display: flex;
  flex-direction: column;
}
