<section *ngIf="categories$ | async as categories" class="section categories">
  <div class="actions-icon actions" @ANShowCategoriesNav>
    <ng-categories-filter
      class="filter stagger-item"
      [loading]="dataFlags.isFetched"
      [filterValue]="dataState.listQueryManager.getQueryItem('filters')"
      (filter)="filter($event)"
    ></ng-categories-filter>
    <ng-icon-button
      class="actions-icon sort-icon stagger-item"
      icon="sort_by_alpha"
      ngTooltip="Сортировка"
      ngTooltipPlacement="bottom"
      @ANShowTranslate
      @ANShowWidth
      *ngIf="dataState.listQueryManager.getQueryItem('sort') | boolean"
      (action)="sort(null)"
    ></ng-icon-button>
    <ng-icon-button
      class="actions-icon table-icon stagger-item"
      icon="format_list_numbered"
      ngTooltip="Таблица"
      ngTooltipPlacement="bottom"
      [class.active]="viewState.listType | equal: 'table'"
      (action)="setListType('table')"
    ></ng-icon-button>
    <ng-icon-button
      class="actions-icon list-icon stagger-item"
      icon="dashboard"
      ngTooltip="Галерея"
      ngTooltipPlacement="bottom"
      [class.active]="viewState.listType | equal: 'list'"
      (action)="setListType('list')"
    ></ng-icon-button>
    <ng-icon-button
      class="actions-icon create-icon stagger-item"
      icon="add_circle"
      ngTooltip="Создать категорию"
      ngTooltipPlacement="bottom"
      (action)="navigateToCategory('0')"
    ></ng-icon-button>
  </div>
  <ng-container *ngIf="categories.totalCount; else emptyTpl">
    <ng-container
      *ngTemplateOutlet="
        (viewState.listType | equal: 'list') ? listTpl : tableTpl;
        context: { $implicit: categories }
      "
    ></ng-container>
  </ng-container>
</section>

<ng-template #emptyTpl>
  <ng-empty-message text="Список категорий пуст"></ng-empty-message>
</ng-template>

<ng-template #listTpl let-categories>
  <ul
    class="categories__list list-content"
    [@ANShowCategories]="categories.items.length"
    [ngLoader]="dataFlags.isFetched"
    pageEndpoint
    (endpoint)="expand()"
  >
    <ng-categories-list-card
      class="category stagger-item"
      *ngFor="let category of categories.items; trackBy: trackByFn"
      [category]="category"
      [detailsOptions]="getListDetailsOptions()"
      (navigate)="navigateToCategory($event)"
    ></ng-categories-list-card>
  </ul>
</ng-template>

<ng-template #tableTpl let-categories>
  <ng-categories-list-table
    class="list-content"
    [categories]="categories"
    [columns]="tableColumns"
    [paginate]="getTablePaginate()"
    [loading]="dataFlags.isFetched"
    (navigate)="navigateToCategory($event)"
    (pagination)="pagination($event)"
    (sort)="sort($event)"
  ></ng-categories-list-table>
</ng-template>
