<div class="messages" *ngIf="formControl">
  <ng-content></ng-content>
  <ng-form-pendings
    *ngIf="pendingMessages?.length"
    class="pending"
    [pending]="controlStatus === 'PENDING'"
    [messages]="pendingMessages"
  ></ng-form-pendings>
  <ng-form-errors
    class="errors"
    *ngIf="isShowErrorMessages()"
    [errors]="getErrorMessages()"
  ></ng-form-errors>
</div>
