<ng-form-control [label]="label" [labelPlacement]="labelPlacement">
  <div class="content" [attr.data-mode]="mode">
    <ng-icon-button
      class="arrow"
      fontSize="2.5rem"
      [icon]="
        mode
          | equal: 'horizontal'
          | condition: 'expand_less':'add_circle_outline'
      "
      [disable]="(value | equal: max) || disabled"
      (action)="setValue(value + 1)"
    ></ng-icon-button>
    <span class="value"> {{ value }} </span>
    <ng-icon-button
      class="arrow"
      fontSize="2.5rem"
      [icon]="
        mode
          | equal: 'horizontal'
          | condition: 'expand_more':'remove_circle_outline'
      "
      [disable]="(value | equal: min) || disabled"
      (action)="setValue(value - 1)"
    ></ng-icon-button>
  </div>
</ng-form-control>
