@import './../../scss/form.mixins.scss';
@import 'fonts/fonts.mixins.scss';

.content {
  display: flex;
  align-items: center;

  &[data-mode='horizontal'] {
    flex-direction: column;

    .value {
      margin: 0.5rem 0;
    }
  }
  &[data-mode='vertical'] {
    flex-direction: row-reverse;
    .value {
      margin: 0 0.5rem;
    }
  }

  .arrow {
    @include gradient-font(var(--theme-gradient));
  }

  .value {
    color: var(--theme-input-text-color);
    font-weight: 900;
    @include poiret(1.5rem);
  }
}
