@import 'theme.mixins.scss';
@import 'colors.variables.scss';

.content {
  position: absolute;
  top: 3rem;
  width: 100%;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  margin: 0 auto;

  .header {
    padding: 1rem;
    background-image: var(--theme-gradient);
    text-align: center;
    &-text {
      @include sub-header(2.3rem);
      @include gradient-font(var(--layout-gradient));
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 1rem 2rem;
    justify-content: center;
    overflow-y: auto;
    min-height: 400px;
    max-height: 400px;
    background-image: var(--layout-gradient);

    &-item {
      width: calc(50% - 1rem);
    }
  }

  .footer {
    position: relative;
    background-image: var(--theme-gradient);
    padding-top: 25%;
    min-height: 150px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%, 0% 0%);

    .filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      .sort-icon {
        transform: rotate(90deg) translateX(10px);
      }

      .form-controls {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        padding: 0 1.5rem;

        .form-control {
          flex-grow: 1;
        }

        .search-control {
          ::ng-deep {
            .value-current,
            .value-separator,
            .value-required {
              @include gradient-font(var(--layout-gradient));
            }
          }
        }

        .cost-range {
          margin-left: auto;

          .range-control {
            ::ng-deep {
              .label {
                font-size: 0.9rem;
                margin-top: 0 !important;
                @include gradient-font(var(--layout-gradient));
              }
            }
          }
        }
      }

      .btn {
        ::ng-deep {
          .icon {
            @include gradient-font(var(--layout-gradient));
          }
        }

        &.active {
          ::ng-deep {
            .icon {
              @include gradient-font($flare);
            }
          }
        }
      }
    }
  }
}
