<ng-shadow class="shadow" [contentCenter]="false" (close)="hide()">
  <div class="content">
    <div class="header animation-header">
      <h5 class="header-text">{{ category.Title }}</h5>
    </div>
    <div class="info" *ngIf="positions$ | async as positions">
      <ul
        class="list animation-list"
        @AnShowOrdersList
        *ngIf="positions.items.length; else emptyTpl"
      >
        <ng-orders-positions-item
          class="list-item animation-list-item"
          *ngFor="let position of positions.items"
          [isAddedToCart]="isAddedPositionToCart(position)"
          [position]="position"
          (remove)="removePosition($event)"
          (add)="addPosition($event)"
        ></ng-orders-positions-item>
      </ul>
    </div>
    <footer class="footer animation-footer">
      <ng-container *ngIf="positions$ | async as positions">
        <form class="filter" [formGroup]="filterForm">
          <ng-icon-button
            class="sort-icon btn"
            icon="multiple_stop"
            fontSize="2.5rem"
            ngTooltip="Сортировка"
            ngTooltipPlacement="bottom"
            [ngTooltipDisabled]="!positions.items.length"
            [disable]="!positions.items.length"
            [class.active]="isActiveSort()"
            (action)="sortByCost()"
          ></ng-icon-button>
          <div class="form-controls">
            <div class="search" [hidden]="isHiddenControl('Title')">
              <ng-form-input
                class="form-control search-control"
                placeholder="Название позиции"
                fieldName="Название"
                formControlName="Title"
                [maxlength]="getRange('Title', 'max')"
                [prefixes]="['search']"
                [suffixes]="['reset']"
              ></ng-form-input>
            </div>
            <div class="cost-range" [hidden]="isHiddenControl('Cost')">
              <ng-form-range
                class="form-control range-control"
                fieldName="Стоимость"
                colorTheme="reverse"
                formControlName="Cost"
                label="Стоимость"
                labelPlacement="bottom-center"
                [min]="category.MinPositionCost"
                [max]="category.MaxPositionCost"
                [step]="10"
                [translate]="translateRangeCb"
              ></ng-form-range>
            </div>
          </div>
          <ng-icon-button
            class="filter-btn btn"
            icon="filter_alt"
            fontSize="3.5rem"
            ngTooltip="Сбросить фильтрацию"
            ngTooltipPlacement="top"
            [ngTooltipDisabled]="
              !(dataState.listQueryManager.getQueryItem('filters') | boolean)
            "
            [disable]="
              !(dataState.listQueryManager.getQueryItem('filters') | boolean)
            "
            [class.active]="
              dataState.listQueryManager.getQueryItem('filters') | boolean
            "
            (action)="resetFilter()"
          ></ng-icon-button>
        </form>
      </ng-container>
    </footer>
  </div>
</ng-shadow>

<ng-template #emptyTpl>
  <ng-empty-message text="Список позиций пуст"></ng-empty-message>
</ng-template>
