<div class="table">
  <ngx-datatable
    columnMode="force"
    #tableRef
    [messages]="messages"
    [rows]="rows"
    [columns]="columns"
    [externalPaging]="true"
    [externalSorting]="true"
    [loadingIndicator]="loading"
    [count]="count"
    [offset]="paginate.skip"
    [limit]="paginate.limit"
    [footerHeight]="100"
    (sort)="sort($event)"
    (page)="setPage($event)"
  >
    <ngx-datatable-footer *ngIf="count > 0">
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
        let-isVisible="isVisible"
      >
        <div class="info">
          <div class="page-limit">
            <span>{{ getPageRange() }}</span>
          </div>
          <div class="total">
            <span class="total-text"
              >Всего:
              <span class="total-text-value">{{ count }}</span>
            </span>
          </div>
        </div>

        <datatable-pager
          pagerLeftArrowIcon="datatable-icon-left"
          pagerRightArrowIcon="datatable-icon-right"
          pagerPreviousIcon="datatable-icon-prev"
          pagerNextIcon="datatable-icon-skip"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="false"
          (change)="tableRef.onFooterPage($event)"
        >
        </datatable-pager>

        <div class="limit">
          <div class="info">
            <div class="current" (click)="togglePageLimit()">
              <span class="current-value">{{ paginate.limit }}</span>
              <span
                class="material-icons current-arrow"
                [class.active]="pageLimitState | equal: 'show'"
                >expand_less</span
              >
            </div>
          </div>

          <ul
            class="limit-list"
            *ngIf="pageLimitState | equal: 'show'"
            @ANShowBySize
          >
            <li
              class="limit-list-item"
              *ngFor="let size of pageSizeOptions"
              @ANShowTranslate
              [class.active]="paginate.limit | equal: size"
              (click)="setLimit(size)"
            >
              <span>{{ size }}</span>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
