@import 'fonts/fonts.mixins.scss';
@import 'decoration.mixins.scss';
@import 'colors.variables.scss';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

:host {
  .table {
    ::ng-deep {
      .ngx-datatable {
        background-color: var(--theme-bg);
        box-shadow: var(--theme-sub-box-shadow);
        padding: 1rem;
        border-radius: 0.5rem;
        overflow: initial !important;

        // * Table head

        .datatable-header {
          height: auto !important;

          .datatable-header-inner {
            width: 100% !important;

            .datatable-row-center {
              align-items: center;
              width: 100% !important;

              .datatable-header-cell {
                letter-spacing: 3px;
                font-weight: bold;
                user-select: none;
                @include amatic(1.8rem);
                @include gradient-font(var(--theme-sub-gradient));

                &:first-child,
                &:last-child {
                  &:before,
                  &:after {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 10px;
                    @include gradient-border(var(--theme-gradient), 2px);
                  }
                  &:first-child {
                    text-align: left;
                  }

                  &:last-child {
                    text-align: right;
                  }

                  &:first-child {
                    .datatable-header-cell-template-wrap {
                      padding-left: 1rem;
                    }

                    &:before {
                      border-right: none;
                      border-bottom: none;
                    }

                    &:after {
                      border-right: none;
                      border-top: none;
                    }
                  }

                  &:last-child {
                    text-align: right;

                    .datatable-header-cell-template-wrap {
                      padding-right: 1rem;
                    }

                    &:before {
                      margin-left: auto;
                      border-left: none;
                      border-bottom: none;
                    }

                    &:after {
                      border-left: none;
                      border-top: none;
                      margin-left: auto;
                    }
                  }
                }
              }
            }
          }
        }

        // * Table body

        .datatable-body {
          .datatable-scroll {
            width: 100% !important;
          }

          .datatable-body-row {
            width: 100% !important;
            height: auto !important;
            padding: 0.5rem 0;
            @include gradient-border-side(var(--theme-gradient), 2px, 'bottom');

            .datatable-row-center {
              width: 100% !important;
              align-items: center;
            }

            .datatable-body-cell {
              height: auto !important;
            }
          }

          datatable-selection {
            display: block;
            margin-top: 2rem;
            text-align: center;

            .empty-row {
              letter-spacing: 5px;
              text-shadow: var(--theme-text-shadow);
              @include comforta(1.5rem);
              @include gradient-font(var(--theme-gradient));
            }
          }
        }
      }

      // * Table pager (footer)

      .datatable-footer {
        overflow: initial !important;

        .info {
          .page-limit {
            text-align: center;
            @include gradient-border-side(
              var(--theme-sub-gradient),
              2px,
              'bottom'
            );

            span {
              font-size: 1.2rem;
              font-family: fantasy;
              letter-spacing: 2px;
              @include gradient-font(var(--theme-sub-gradient));
            }
          }

          .total {
            &-text {
              @include comforta(0.8rem);
              @include gradient-font(var(--theme-sub-gradient));

              &-value {
                font-size: 1rem;
                @include gradient-font($flare);
              }
            }
          }
        }

        .datatable-pager {
          margin-right: 1rem;
          .pager {
            display: flex !important;
            justify-content: flex-end;

            li {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 35px;
              height: 35px;
              cursor: pointer;
              @include gothic();
              @include gradient-border(var(--theme-gradient));

              &:nth-child(2) {
                margin-right: 0.5rem !important;
              }

              &:nth-last-child(2) {
                margin-left: 0.5rem !important;
              }

              a {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                display: flex !important;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                @include gradient-font(var(--theme-gradient));
              }

              &:not(.pages) {
                a > i {
                  margin-top: 5px;
                }

                &:hover {
                  @include gradient-border($flare);
                }

                &:hover > a {
                  @include gradient-font($flare);
                }

                &.disabled {
                  cursor: not-allowed;
                  background: rgba(143, 155, 179, 0.24);

                  @include gradient-border($theme-disabled-gradient);

                  a {
                    @include gradient-font($theme-disabled-gradient);
                  }
                }
              }

              &.pages {
                background-image: var(--layout-gradient);
                margin: 0 0.2rem !important;

                &.active,
                &:hover {
                  background-image: var(--theme-gradient);
                  @include gradient-border(var(--layout-gradient));

                  a {
                    @include gradient-font(var(--layout-gradient));
                  }
                }
              }
            }
          }
        }

        .limit {
          position: relative;
          display: flex;
          border-radius: 0.5rem;
          background-color: var(--theme-sub-shadow-bg);
          user-select: none;
          @include gradient-font(var(--theme-gradient));
          @include gradient-border(var(--theme-gradient), 2px);

          .current {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            cursor: pointer;

            &-value {
              font-family: fantasy;
            }

            &-arrow {
              @include gradient-font(var(--theme-gradient));
              transition: transform 0.3s linear;

              &.active {
                @include gradient-font($flare);
                transform: rotate(90deg);
              }
            }
          }

          &-list {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 100%;
            background-image: var(--layout-gradient);
            transform: translate(5px, -30%);
            @include gradient-border(var(--theme-gradient), 1px);

            &-item {
              padding: 0.5rem;
              text-align: center;
              cursor: pointer;
              @include gothic();

              &:not(:last-child) {
                @include gradient-border-side(
                  var(--theme-gradient),
                  2px,
                  'bottom'
                );
              }

              span {
                @include gradient-font(var(--theme-gradient));
              }

              &:hover,
              &.active {
                background-image: var(--theme-gradient);

                &:not(:last-child) {
                  @include gradient-border-side(
                    var(--layout-gradient),
                    2px,
                    'bottom'
                  );
                }

                span {
                  @include gradient-font(var(--layout-gradient));
                }
              }
            }
          }
        }
      }
    }
  }
}
