@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';
@import 'core.variables.scss';
@import 'theme.mixins.scss';

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $max-z-index;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: var(--theme-shadow-bg);

  .close {
    align-self: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
    z-index: $max-z-index + 2;
    @include close-icon;
  }

  &-content {
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: static;
    z-index: $max-z-index + 2;

    &.center {
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }
}
