<div class="shadow" data-close-element (mousedown)="close($event)">
  <span class="material-icons close" data-close-element>close</span>
  <div
    class="shadow-content"
    data-close-element
    [class.center]="contentCenter"
    (click)="close($event)"
  >
    <ng-content></ng-content>
  </div>
</div>
