@import 'colors.variables.scss';
@import 'theme.mixins.scss';

:host {
  width: 100%;
  max-width: 600px;
  min-width: 310px;
}

.modal {
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--theme-box-shadow);

  .picture {
    min-width: 150px;
    flex-grow: 0.3;
    background-image: var(--theme-cake-img);
    background-size: contain;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 0.7;
    padding: 2rem;
    background-image: var(--layout-gradient);

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__avatar {
        height: 100px;
        width: 100px;
        transform: translateX(-90%);
      }

      &__title {
        padding-bottom: 1rem;
        @include header();
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;

      &__field {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .submit-btn {
        align-self: center;
      }
    }
  }
}
