<section class="modal">
  <div class="picture"></div>
  <article class="content">
    <div class="head">
      <ng-upload-picture
        class="head__avatar"
        ngTooltip="Изменить аватар"
        shape="circle"
        [imgUrl]="user.Avatar"
        [defaultUrl]="viewService.getEmptyAvatar()"
        (changeFile)="changeFile($event)"
      ></ng-upload-picture>
      <h6 class="head__title">Редактирование</h6>
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="edit()">
      <ng-form-input
        class="form__field"
        formControlName="Name"
        fieldName="Имя"
        label="Имя"
        [minlength]="getRange('Name', 'min')"
        [maxlength]="getRange('Name', 'max')"
      ></ng-form-input>
      <ng-form-input
        class="form__field"
        formControlName="Position"
        fieldName="Должность"
        label="Должность"
        [minlength]="getRange('Position', 'min')"
        [maxlength]="getRange('Position', 'max')"
      ></ng-form-input>
      <ng-form-radio
        class="form__field"
        formControlName="Gender"
        fieldName="Пол"
        label="Пол"
        [groupOptions]="genderOptions"
      ></ng-form-radio>
      <ng-loader-button
        class="submit-btn"
        type="submit"
        text="Сохранить"
        [disabled]="isDisabledForm()"
        [loading]="loading"
      ></ng-loader-button>
    </form>
  </article>
</section>
