@import 'fonts/fonts.mixins.scss';
@import 'fonts/fonts.variables.scss';
@import 'theme.mixins.scss';
@import 'animations.scss';
@import './../../scss/form.mixins.scss';

$shapes: (
  '.rectangle': 0.25rem,
  '.semi-round': 0.75rem,
  '.round': 1.5rem,
);

.after {
  @include after-control;
}

.control {
  &.search {
    .form-field {
      position: relative;
      z-index: 2;
      width: 100%;
      min-width: 35px;
      max-width: 35px;
      min-height: 0px;
      overflow: hidden;
      transition: max-width 0.3s linear;
    }
    .value-length {
      position: relative;
      z-index: 1;
      animation: leaveYTop 0.3s linear forwards;
    }

    &:focus-within {
      .value-length {
        animation: enterYTop 0.3s var(--app-bezier) forwards;
      }

      .form-field {
        max-width: 280px;
      }
    }
  }

  .form-field {
    @include input-container;
    @include input-border-radius;
    min-width: 0;
    border-width: 2px !important;

    .affixes {
      display: flex;
      align-items: center;

      .password-icon {
        height: 1.5rem;
      }

      &:first-child .affix-icon {
        &:not(:first-child) {
          margin-left: 0.2rem;
        }
      }

      &:last-child .affix-icon {
        &:not(:last-child) {
          margin-right: 0.2rem;
        }
      }
    }
  }
}

@each $name, $shape in $shapes {
  :host .form-field#{$name} ::ng-deep .nb-form-control-container {
    border-radius: $shape;
  }
}

//  ? Оформление статусов

// $colors: (
//   '.success': #00b887,
//   '.warning': darkorange,
//   '.danger': #ff3d71,
//   '.basic': var(--input-color),
// );

// @each $name, $color in $colors {
//   :host .form-field#{$name} ::ng-deep .nb-form-control-container {
//     border-color: $color;
//     color: $color;

//     .input::placeholder {
//       color: $color;
//     }

//     .affixes {
//       &:first-child {
//         border-color: $color;
//       }

//       &:last-child {
//         border-color: $color;
//       }

//       .status-color,
//       .input-action,
//       .input-icon {
//         color: $color;
//       }
//     }
//   }
// }
