<ng-form-control [label]="label" [labelPlacement]="labelPlacement">
  <div class="control" [class.search]="getCssClasses().search">
    <nb-form-field class="form-field" [ngClass]="getCssClasses()">
      <ng-container
        *ngTemplateOutlet="affixTpl; context: getAffixContext('prefix')"
      ></ng-container>
      <input
        #inputRef
        nbInput
        class="input"
        [type]="type"
        [placeholder]="getPlaceholder()"
        [fullWidth]="true"
        [minlength]="minlength"
        [maxlength]="maxlength"
        [disabled]="disabled"
        [fieldSize]="size"
        [shape]="shape"
        [ngModel]="value"
        (ngModelChange)="setValue($event)"
        (blur)="onTouched()"
      />
      <ng-container
        *ngTemplateOutlet="affixTpl; context: getAffixContext('suffix')"
      ></ng-container>
    </nb-form-field>
    <div class="after">
      <ng-form-messages
        class="messages"
        [control]="formControl.control"
        [fieldName]="fieldName"
        [pendingMessages]="pendingMessages"
        [errorModule]="errorModule"
        [errors]="formControl.control?.errors"
        [customErrors]="errors"
        [status]="formControl.control?.statusChanges | async"
      >
        <ng-content></ng-content>
      </ng-form-messages>
      <ng-form-value-length
        class="value-length"
        [value]="value"
        [maxlength]="maxlength"
      ></ng-form-value-length>
    </div>
  </div>
</ng-form-control>

<ng-template #affixTpl let-templates="templates" let-tags="tags">
  <div class="affixes">
    <ng-container *ngFor="let tpl of templates">
      <ng-container *ngTemplateOutlet="tpl"></ng-container>
    </ng-container>
    <ng-form-input-password
      class="affix-icon password-icon"
      *ngIf="tags.includes('hide')"
      [disable]="disabled"
    ></ng-form-input-password>
    <ng-icon-button
      *ngIf="tags.includes('reset')"
      class="material-icons affix-icon"
      icon="dangerous"
      tooltip="Сбросить"
      [disable]="disabled"
      (action)="resetValue()"
    ></ng-icon-button>
    <i
      *ngIf="tags.includes('email')"
      class="material-icons app-icon affix-icon"
      [class.disabled]="disabled"
    >
      alternate_email
    </i>
    <i
      *ngIf="tags.includes('search')"
      class="material-icons app-icon affix-icon"
      [class.disabled]="disabled"
      (click)="toggleFocus()"
    >
      search
    </i>
  </div>
</ng-template>
