@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import 'theme.mixins.scss';

.container {
  position: relative;

  .content {
    position: relative;
    border-radius: 2rem;
    transition: border 0.3s linear;
    overflow: hidden;

    &.expand {
      overflow: initial;
      border: 3px solid var(--button-filled-basic-hover-border-color);
    }

    &:not(.expand) {
      border: 3px solid var(--button-filled-basic-border-color);

      &:hover {
        border-color: var(--button-filled-basic-hover-border-color);
      }
    }

    .bg {
      position: absolute;
      border-radius: 2rem;
      z-index: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: var(--theme-gradient);
      transition: opacity 0.3s linear, box-shadow 0.3s linear;

      &.expand {
        opacity: 0.3;
        box-shadow: var(--theme-backdrop-shadow);
      }
    }

    .toggle {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      overflow: hidden;
      transition-property: top, left, border-radius, box-shadow;
      transition-duration: 0.3s;
      @include gradient-font(var(--theme-btn-text));

      &:hover {
        @include gradient-font($flare);
      }

      &.expand {
        position: absolute;
        left: 100%;
        top: -3rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        box-shadow: var(--theme-sub-box-shadow);
        @include gradient-font(var(--theme-gradient));
      }

      &-text {
        margin-right: 0.3rem;
      }
    }

    &-box {
      height: 100%;
      width: 100%;
    }
  }
}
