<div class="container">
  <div class="content" [class.expand]="state | equal: 'show'">
    <div class="bg" [class.expand]="state | equal: 'show'"></div>
    <div
      class="toggle"
      [class.expand]="state | equal: 'show'"
      (click)="toggleState()"
    >
      <span *ngIf="state | equal: 'hide'" @ANPropShow class="toggle-text">{{
        text
      }}</span>
      <i
        class="material-icons toggle-paragraph-icon"
        @ANShowTranslate
        [@ANToggleFade]="state"
        >{{ state | equal: 'hide' | condition: icon:'close' }}
      </i>
    </div>
    <div class="content-box" #contentRef>
      <div *ngIf="state | equal: 'show'" @ANShowBySize>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
