<div class="main">
  <form [formGroup]="form" (ngSubmit)="registration()">
    <nb-card size="medium" class="card">
      <nb-card-body>
        <h3 class="header">Регистрация</h3>
        <nb-stepper orientation="vertical" #stepperRef>
          <nb-step
            class="step"
            label="Личные данные"
            formGroupName="loginGroup"
            [stepControl]="form.get('loginGroup')"
          >
            <h4 class="step-header">Личные данные #1</h4>
            <div class="controls">
              <ng-form-input
                class="form-control"
                formControlName="Login"
                type="text"
                fieldName="Логин"
                placeholder="Введите логин"
                lable="Логин"
                size="large"
                errorModule="auth"
                [maxlength]="getRange('Login', 'max')"
                [prefixes]="['email']"
                [suffixes]="['reset']"
                [pendingMessages]="[existLoginTpl]"
              ></ng-form-input>
              <ng-form-input
                class="form-control"
                formControlName="Name"
                type="text"
                fieldName="Имя"
                placeholder="Введите имя"
                lable="Имя"
                size="large"
                errorModule="auth"
                [minlength]="getRange('Name', 'min')"
                [maxlength]="getRange('Name', 'max')"
                [suffixes]="['reset']"
              ></ng-form-input>
            </div>
            <div class="actions full-width">
              <ng-button
                class="form-btn"
                text="Дальше"
                nbStepperNext
                [disabled]="isDisabledGroup('loginGroup')"
                (action)="stepperRef.next()"
              ></ng-button>
            </div>
          </nb-step>
          <nb-step
            class="step"
            label="Пароль"
            formGroupName="passwordGroup"
            [stepControl]="form.get('passwordGroup')"
          >
            <h4 class="step-header">
              Пароль #2
              <nb-icon
                icon="arrow-circle-down-outline ml-1"
                status="warning"
              ></nb-icon>
            </h4>
            <div class="controls">
              <ng-form-input
                class="form-control"
                formControlName="Password"
                type="password"
                fieldName="Пароль"
                placeholder="Введите пароль"
                lable="Пароль"
                size="large"
                errorModule="auth"
                [minlength]="getRange('Password', 'min')"
                [maxlength]="getRange('Password', 'max')"
                [prefixes]="[difficultTpl]"
                [suffixes]="['hide', 'reset']"
              ></ng-form-input>
              <ng-form-input
                class="form-control"
                formControlName="ConfirmPassword"
                type="password"
                fieldName="Пароль"
                placeholder="Подтвердите пароль"
                lable="Пароль"
                size="large"
                errorModule="auth"
                [minlength]="getRange('Password', 'min')"
                [maxlength]="getRange('Password', 'max')"
                [errors]="getEqualPasswordsError()"
                [suffixes]="['hide', 'reset']"
              ></ng-form-input>
            </div>
            <div class="actions full-width">
              <ng-button
                class="form-btn"
                text="Назад"
                appearance="outline"
                nbStepperPrevious
                (action)="stepperRef.previous()"
              ></ng-button>

              <ng-button
                class="form-btn ml-1"
                text="Дальше"
                nbStepperNext
                [disabled]="isDisabledGroup('passwordGroup')"
                (action)="stepperRef.next()"
              ></ng-button>
            </div>
          </nb-step>
          <nb-step class="step" label="Подтверждение" [stepControl]="form">
            <h4 class="step-header">Отправка данных #3</h4>
            <ng-loader-button
              class="submit-btn"
              type="submit"
              text="Зарегистрироваться"
              [loading]="flags.isRegistration"
              [disabled]="form.invalid"
            ></ng-loader-button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </form>
</div>

<ng-template #existLoginTpl>
  <span class="messages-item-text">
    Проверка логина.
    <ng-circle-loader class="loader" [loading]="true"></ng-circle-loader>
  </span>
</ng-template>

<ng-template #difficultTpl>
  <div
    class="difficult"
    [class.active]="isValidFormControl('passwordGroup', 'Password')"
  >
    <span
      class="material-icons difficult-icon affix-icon"
      nbPopoverTrigger="hint"
      nbPopoverPlacement="bottom"
      [nbPopover]="difficultPopoverTpl"
      [ngClass]="getDifPasswordClass()"
    >
      info
    </span>
    <ng-template #difficultPopoverTpl>
      <div class="difficult__popover">
        <h6 class="difficult__popover-header">
          Пароль максимальной сложности должен стоять из:
        </h6>
        <ul class="difficult__popover-list">
          <li
            *ngFor="let condition of passwordDIfConditions; let idx = index"
            class="difficult__popover-list-item"
          >
            <span class="difficult__popover-list-item-idx">{{ idx + 1 }}.</span>
            <span class="difficult__popover-list-item-condition">{{
              condition
            }}</span>
          </li>
        </ul>
        <div class="difficult__popover-status">
          <span class="difficult__popover-status-label">Сложность:</span>
          <span
            class="difficult__popover-status-value"
            [ngClass]="getDifPasswordClass()"
          >
            {{ getPasswordDifStatusLabel() }}
          </span>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
