@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';
@import 'decoration.mixins.scss';
@import 'theme.mixins.scss';

:host ::ng-deep nb-card-body {
  display: flex;
  flex-direction: column;
}
:host ::ng-deep nb-stepper {
  flex-grow: 1;
}

:host ::ng-deep .step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  .submit-btn {
    width: 100%;
    margin: auto;
  }
}

:host {
  .main {
    .header {
      margin: 2rem 0;
      text-align: center;
      @include header;
    }

    .card {
      margin: 0;
      height: auto;
      min-height: 500px;
      background-image: var(--layout-gradient);

      .step {
        &-header {
          margin: 1rem 0;
          @include sub-header(1.3rem);
        }
      }

      .controls {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100%;
        row-gap: 4rem;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.difficult {
  width: 0;
  overflow: hidden;
  transition: width 0.3s linear;

  &.active {
    width: 1.5rem;
  }

  &-icon {
    vertical-align: middle;

    &.basic {
      @include gradient-font($gradient-basic);
    }
    &.danger {
      @include gradient-font($gradient-danger);
    }
    &.warning {
      @include gradient-font($gradient-warning);
    }
    &.primary {
      @include gradient-font($gradient-primary);
    }
    &.success {
      @include gradient-font($gradient-success);
    }
  }

  &__popover {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-image: var(--layout-sub-gradient);
    box-shadow: var(--theme-box-shadow);

    &-header {
      @include poiret(1rem);
      @include gradient-font(var(--theme-sub-gradient));
    }

    &-list {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;

      &-item {
        margin: 0.3rem 0;

        &-idx {
          font-size: 1.1rem;
          font-weight: bold;
          margin-right: 0.5rem;
          @include gradient-font($sound-cloud);
        }

        &-condition {
          vertical-align: top;
          font-weight: bold;
          letter-spacing: 1px;
          @include rlw(0.79rem);
          @include gradient-font(var(--theme-text));
        }
      }
    }

    &-status {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 1rem;

      &-label {
        @include comforta(0.8rem);
        @include gradient-font(var(--theme-sub-gradient));
      }

      &-value {
        margin-left: 0.7rem;
        @include ubuntu(1.1rem);

        &.basic {
          @include gradient-font($gradient-basic);
        }
        &.danger {
          @include gradient-font($gradient-danger);
        }
        &.warning {
          @include gradient-font($gradient-warning);
        }
        &.primary {
          @include gradient-font($gradient-primary);
        }
        &.success {
          @include gradient-font($gradient-success);
        }
      }
    }
  }
}

.messages-item-text {
  display: flex;

  .loader {
    margin-left: 1rem;
  }
}
