<li class="position">
  <div class="info" ngTheme>
    <div class="img">
      <ng-theme-picture
        class="picture"
        shape="circle"
        [lightUrl]="'positions/light.png'"
        [darkUrl]="'positions/dark.png'"
        [imgUrl]="position.Preview"
      ></ng-theme-picture>
    </div>
    <h6 class="title" ngTooltip="Описание">
      {{ position.Title }}
    </h6>
    <span class="cost">{{
      position.Cost | currency: 'RUB':'symbol-narrow':'1.1-1'
    }}</span>
    <div class="separator"></div>
    <div
      class="description"
      [class.open]="descriptionShowState | equal: 'show'"
    >
      <div class="shadow fill-container" ngTheme></div>
      <ng-icon-button
        class="description-toggle-icon"
        icon="arrow_circle_up"
        fontSize="2rem"
        (action)="toggleDecriptionShowState()"
      ></ng-icon-button>
      <div class="description-content">
        <p class="description-content-text">
          {{ position.Description || 'Описание отсутствует' }}
        </p>
      </div>
    </div>
  </div>
  <div class="actions">
    <ng-icon-button
      class="actions-icon edit-btn"
      icon="edit_note"
      ngTooltip="Редактировать"
      [loading]="isEdited"
      (action)="edit()"
    ></ng-icon-button>
    <ng-icon-button
      class="actions-icon remove-btn"
      icon="delete_sweep"
      ngTooltip="Удалить"
      ngTooltipPlacement="right"
      [loading]="isRemoved"
      (action)="remove()"
    ></ng-icon-button>
  </div>
</li>

<!-- TODO  разобраться с фоном приложения -->
