@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';

:host {
  display: block;
}

.position {
  display: flex;
  flex-direction: column;

  .info {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-image: var(--layout-gradient);

    &[data-theme='dark_mode'] {
      box-shadow: 0px 0px 15px 0px lightgoldenrodyellow;
    }

    &[data-theme='light_mode'] {
      box-shadow: 0px 0px 5px 0px rgb(50 50 50 / 75%);
    }

    .img {
      margin-top: 2.5rem;
      width: 80px;
      height: 80px;
    }

    .title {
      margin-top: 1rem;
      @include gradient-font(var(--theme-text));
    }

    .cost {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-family: fantasy;
      @include gradient-font(var(--theme-text));

      &:first-letter {
        letter-spacing: 0.3rem;
      }
    }

    .separator {
      margin: 1rem 0;
      width: 80%;
      height: 0.3rem;
      border-radius: 100%;
      background-image: var(--theme-gradient);
    }

    .description {
      position: absolute;
      top: 0;
      left: 100%;
      padding: 1rem;
      width: 100%;
      height: 100%;
      transition: left 0.3s var(--app-bezier);

      .shadow {
        z-index: 1;
        transition: backgorund-color 0.3s ease-in;

        &[data-theme='dark_mode'] {
          background-color: rgba(0, 0, 0, 0.7);
        }

        &[data-theme='light_mode'] {
          background: var(--theme-sub-shadow-bg);
        }
      }

      &.open {
        left: 0;

        .description-toggle-icon {
          transform: translate(10%, -50%) rotate(270deg);
        }
      }

      &-toggle-icon {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 3;
        transform: translate(-100%, -50%) rotate(90deg);
        transition: transform 0.3s var(--app-bezier);
      }

      &-content {
        position: relative;
        z-index: 2;
        text-align: center;
        height: 100%;
        overflow-y: auto;
        &-text {
          font-family: fantasy;
          @include gradient-font(var(--theme-text));
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 3rem;
    background-image: var(--theme-gradient);
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%, 0% 0%);

    &-icon {
      ::ng-deep .btn .icon {
        @include gradient-font(var(--layout-gradient));

        &:hover {
          @include gradient-font($flare);
        }
      }
    }
  }
}
