@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';

.filter {
  display: flex;
  justify-content: flex-end;

  .content {
    position: relative;
  }

  &-icon {
    &.open,
    &.active {
      ::ng-deep {
        .icon {
          @include gradient-font($flare);
        }
      }
    }
  }

  &-group {
    position: absolute;
    top: 100%;
    right: 100%;
    z-index: 2;
    margin-top: 1rem;
    padding: 1rem;
    min-width: 300px;
    border-radius: 0.5rem;
    background-image: var(--layout-gradient);
    box-shadow: var(--theme-sub-box-shadow);

    .form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      &-control {
        width: 100%;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;

        &-btn {
          &:last-child {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
