<div class="filter">
  <div class="content">
    <ng-icon-button
      class="filter-icon"
      icon="filter_alt"
      [class.open]="isOpen"
      [class.active]="filterValue | boolean"
      (action)="toggleShow()"
    ></ng-icon-button>
    <div class="filter-group" *ngIf="isOpen" @ANPropShow @ANShowFade>
      <form class="form" [formGroup]="form">
        <ng-form-range
          class="form-control"
          label="Общая стоимость"
          formControlName="TotalAmount"
          [min]="ordersStats.MinTotalAmount"
          [max]="ordersStats.MaxTotalAmount"
          [step]="10"
        ></ng-form-range>
        <ng-form-range
          class="form-control"
          label="Количество позиций"
          formControlName="Positions"
          [min]="ordersStats.MinTotalPositions"
          [max]="ordersStats.MaxTotalPositions"
        ></ng-form-range>
        <ng-form-datepicker-range
          class="form-control"
          label="Дата заказа"
          formControlName="Created"
          [minDate]="ordersStats.MinCreated | toType: 'date'"
          [maxDate]="ordersStats.MaxCreated | toType: 'date'"
        ></ng-form-datepicker-range>
        <div class="actions">
          <ng-button
            class="actions-btn"
            text="Сбросить"
            [disabled]="!filterValue"
            (action)="reset()"
          ></ng-button>
          <ng-button
            class="actions-btn"
            text="Применить"
            [disabled]="disabledFilter"
            (action)="filter(form.value)"
          ></ng-button>
        </div>
      </form>
    </div>
  </div>
</div>
