<article class="content">
  <h5 class="header">Создание категории</h5>
  <div class="info">
    <div class="preview">
      <div class="img">
        <ng-theme-picture
          class="picture fill-container"
          shape="round"
          [class.opacity]="isEmptyPreview()"
          [preview]="preview"
          [lightUrl]="'categories/light-category.png'"
          [darkUrl]="'categories/dark-category.png'"
          [imgUrl]="category.Preview"
        ></ng-theme-picture>
      </div>

      <ng-upload-file
        class="upload"
        ngTooltip="Загрузить картинку"
        ngTooltipPlacement="bottom"
        (changeFile)="changeFile($event)"
      ></ng-upload-file>
    </div>

    <form class="form" [formGroup]="form">
      <ng-form-input
        formControlName="Title"
        fieldName="Название категории"
        label="Название"
        [minlength]="getRange('Title', 'min')"
        [maxlength]="getRange('Title', 'max')"
        [suffixes]="['reset']"
      ></ng-form-input>
      <ng-form-textarea
        formControlName="Description"
        fieldName="Описание категории"
        label="Описание"
        [maxlength]="getRange('Description', 'max')"
      ></ng-form-textarea>
      <ng-loader-button
        class="submit"
        type="submit"
        text="Создать"
        [loading]="loading"
        [disabled]="disabled"
        (action)="create()"
      ></ng-loader-button>
    </form>
  </div>
</article>
