@import 'theme.mixins.scss';
@import 'decoration.mixins.scss';

.content {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--theme-sub-shadow-bg);
  box-shadow: var(--theme-box-shadow);

  .header {
    text-align: center;
    @include header;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
    justify-content: space-between;

    .preview {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-right: 3rem;
      .img {
        margin-bottom: 1rem;
        position: relative;
        padding-top: 50%;
        width: 100%;
        height: 100%;
        border-radius: 0.7rem;

        .opacity {
          opacity: 0.4;
        }
      }
      .upload {
        align-self: flex-end;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;

    .submit {
      margin-top: 2rem;
      align-self: flex-end;
    }
  }
}
