@import 'fonts/fonts.mixins.scss';

:host {
  width: 100%;
}

.errors {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0.7rem;
  border: 1px solid #ff517442;
  border-radius: 44px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #cf001329;
  text-align: center;
  transform: translate(1px, -2px);

  &-item {
    margin: 0.3rem 0;
    animation: scale 0.2s ease-in-out;
    font-weight: var(--error-font-weight);
    @include ubuntu(0.8rem);
    @include gradient-font(var(--theme-error-font-color));
  }
}
