<article class="section" *ngIf="positions$ | async as positions">
  <ng-border-wrapper>
    <div class="positions" [class.filled]="positions.items?.length">
      <ng-expand-button
        class="create"
        #expandRef="expandRef"
        [class.opened]="viewState.creationState | equal: 'show'"
        [state]="viewState.creationState"
        (changeExpandState)="viewService.setCreationViewState($event)"
      >
        <ng-positions-create
          @ANShowPositionAddBtn
          [categoryId]="categoryId"
          [userId]="userDataService.id()"
          [expandState]="viewState.creationState"
          [isCreated]="dataFlags.isCreated"
          (create)="create($event)"
        ></ng-positions-create>
      </ng-expand-button>
      <ul
        *ngIf="positions.items.length; else emptyTpl"
        [@ANShowPositionItem]="positions.items.length"
        class="list"
        ngLoaderCubeSize="small"
        pageEndpoint
        [ngLoader]="dataFlags.isFetched"
        (endpoint)="expand()"
      >
        <ng-positions-item
          *ngFor="
            let position of positions.items;
            let isOdd = odd;
            trackBy: trackByFn
          "
          class="list-item stagger-item"
          [position]="position"
          [isRemoved]="isRemoved(position._id)"
          (remove)="remove($event)"
          (edit)="toggleEditModal($event)"
        ></ng-positions-item>
      </ul>
    </div>
  </ng-border-wrapper>
</article>

<ng-template #emptyTpl>
  <ng-empty-message
    text="Список позиций пуст"
    [class.hide]="viewState.creationState | equal: 'show'"
  ></ng-empty-message>
</ng-template>

<ng-shadow
  *ngIf="editPosition$ | async as position"
  (close)="toggleEditModal(null)"
>
  <ng-positions-edit
    [position]="position"
    [isEdited]="dataFlags.isEdited"
    (edit)="edit($event)"
  ></ng-positions-edit>
</ng-shadow>
