.positions {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  .create {
    align-self: flex-end;
    transition: transform 0.3s ease-in;
    &.opened {
      transform: translateX(-2rem);
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    perspective: 500px;
    margin-top: 1.5rem;

    &-item {
      backface-visibility: hidden;
    }
  }

  &.filled {
    flex-direction: column;
    justify-content: flex-start;

    .create {
      align-self: flex-end;
      transition: transform 0.3s 0.3s var(--app-bezier);

      &.opened {
        transform: translateX(-50%);
      }
    }
  }

  .empty {
    font-size: 1rem;
    margin-right: 1rem;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.hide {
      opacity: 0;
    }
  }
}

@keyframes perspective {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
