<section class="section orders" ngCrumb="Заказы" ngCrumbRoute="/orders">
  <div class="content">
    <ng-orders-categories-list
      *ngAsync="order$ | async as order"
      [isShowOrderBtn]="order?.Positions.length | boolean"
    ></ng-orders-categories-list>
  </div>
</section>

<ng-order *ngIf="viewFlags.isShowOrder" (hide)="toggleOrderModal()"></ng-order>
