<ng-form-control [label]="label" [labelPlacement]="labelPlacement">
  <div class="control">
    <nb-form-field class="form-field">
      <ng-container *ngTemplateOutlet="prefixTpl"></ng-container>
      <input
        #inputRef
        nbInput
        class="input"
        type="number"
        [placeholder]="getPlaceholder()"
        [fullWidth]="true"
        [min]="min"
        [max]="max"
        [disabled]="disabled"
        [ngModel]="value"
        (ngModelChange)="setValue($event)"
        (blur)="onTouched()"
      />
      <ng-container *ngTemplateOutlet="suffixTpl"></ng-container>
    </nb-form-field>
    <div class="after">
      <ng-form-messages
        class="messages"
        [control]="formControl.control"
        [fieldName]="fieldName"
        [errorModule]="errorModule"
        [errors]="formControl.control?.errors"
        [customErrors]="errors"
        [status]="formControl.control?.statusChanges | async"
      >
        <ng-content></ng-content>
      </ng-form-messages>
    </div>
  </div>
</ng-form-control>

<ng-template #prefixTpl>
  <div class="affixes">
    <i class="material-icons app-icon pin-icon">pin</i>
  </div>
</ng-template>

<ng-template #suffixTpl>
  <div class="affixes">
    <div class="unary">
      <ng-icon-button
        class="unary-icon"
        icon="arrow_right_alt"
        [disable]="isDisabledUnary('max')"
        (action)="increment()"
      ></ng-icon-button>
      <ng-icon-button
        class="unary-icon"
        icon="arrow_right_alt"
        [disable]="isDisabledUnary('min')"
        (action)="decrement()"
      ></ng-icon-button>
    </div>
    <ng-icon-button
      *ngIf="isShowReset"
      class="material-icons affix-icon"
      icon="dangerous"
      tooltip="Сбросить"
      [disable]="disabled"
      (action)="resetValue()"
    ></ng-icon-button>
  </div>
</ng-template>
