@import 'fonts/fonts.mixins.scss';
@import 'fonts/fonts.variables.scss';
@import 'theme.mixins.scss';
@import './../../scss/form.mixins.scss';

:host .form-field {
  @include input-container;
  @include input-border-radius;

  .input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .affixes {
    display: flex;
    align-items: center;

    .pin-icon {
      font-size: 1.7rem;
    }

    .unary {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1.5rem;
      margin-right: 0.2rem;

      .unary-icon {
        ::ng-deep .btn .icon {
          font-weight: bold;
        }

        &:first-child {
          transform: rotate(-90deg);
          margin-bottom: 2px;
        }

        &:last-child {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.after {
  @include after-control;
}
