@import '../../styles/analytics.scss';

.content {
  .header {
    display: flex;
    align-items: center;

    &-text {
      @include header;
    }
  }

  .filter {
    display: flex;
    margin-top: 1rem;

    &-group {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 0.5rem;
      background-image: var(--layout-gradient);
      box-shadow: var(--theme-list-item-shadow);

      .actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .periods {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 1rem;

        &-item {
          flex-basis: 200px;
        }
      }

      .submit-btn {
        margin-top: 1rem;
      }
    }
  }

  .charts {
    margin-top: 4rem;
  }
}
