<div class="content">
  <div class="header" @ANShowHeader @ANShowFade>
    <h3 class="header-text">Фильтрация</h3>
    <ng-icon-button
      icon="filter_alt"
      fontSize="2rem"
      ngTooltip="Фильтрация"
      ngTooltipPlacement="right"
      (action)="toggleFilter()"
    ></ng-icon-button>
  </div>
  <div class="filter" #periodsRef>
    <ng-content *ngTemplateOutlet="formTpl"></ng-content>
  </div>
  <div class="charts">
    <ng-analytics-filter-charts
      [periods]="periods"
    ></ng-analytics-filter-charts>
  </div>
</div>

<ng-template #formTpl>
  <div class="filter-group" *ngIf="isShowFilter" @ANShowBySize>
    <div class="actions">
      <ng-icon-button
        icon="add_circle_outline"
        fontSize="2rem"
        [disable]="!isCanAddPeriod()"
        (action)="createPeriod()"
      ></ng-icon-button>
    </div>
    <div class="periods">
      <ng-analytics-filter-period
        class="periods-item"
        *ngFor="let period of periods; let idx = index"
        @ANShowChart
        [isCanRemoved]="idx | boolean"
        [period]="period"
        [count]="idx + 1"
        [typeOptions]="typeOptions"
        (remove)="removePeriod($event)"
        (change)="changePeriod($event)"
      ></ng-analytics-filter-period>
    </div>
    <ng-loader-button
      class="submit-btn"
      text="Применить"
      [loading]="loading"
      [disabled]="!isCanSubmit()"
      (action)="submit()"
    ></ng-loader-button>
  </div>
</ng-template>
