<ng-form-control [label]="label" [labelPlacement]="labelPlacement">
  <nb-form-field class="form-field">
    <textarea
      class="input"
      nbInput
      [rows]="rows"
      [fullWidth]="true"
      [ngModel]="value"
      [placeholder]="getPlaceholder()"
      (ngModelChange)="setValue($event)"
    ></textarea>
  </nb-form-field>
  <div class="after">
    <ng-form-messages
      class="messages"
      [control]="formControl.control"
      [fieldName]="fieldName"
      [errors]="formControl.control?.errors"
      [customErrors]="errors"
    >
      <ng-content></ng-content>
    </ng-form-messages>
    <ng-form-value-length
      class="value-length"
      [value]="value"
      [maxlength]="maxlength"
    ></ng-form-value-length>
  </div>
</ng-form-control>
