@import './../../scss/form.mixins.scss';

.after {
  @include after-control;
}

:host .form-field {
  @include input-container;
  @include input-border-radius;

  .input {
    min-height: 100px;
    padding: 0.5rem 1rem;
  }
}
