@import 'app.mixins.scss';

.analytics {
  .content {
    display: flex;
    flex-direction: column;
    @include section-content;

    .chart {
      width: 100%;
      &:not(:first-child) {
        margin-top: 4rem;
      }
    }
  }
}
