<section
  class="section analytics"
  ngCrumb="Аналитика"
  ngCrumbRoute="/analytics"
>
  <div class="content">
    <ng-analytics-orders
      class="chart"
      [load]="dataFlags.isLoadOrders"
      [analytics]="ordersAnalytics$ | async"
    ></ng-analytics-orders>
    <ng-analytics-positions
      class="chart"
      [load]="dataFlags.isLoadPositions"
      [analytics]="positionsAnalytics$ | async"
    ></ng-analytics-positions>
    <ng-analytics-filter
      class="chart"
      [analytics]="filter$ | async"
      [loading]="dataState.filteredCharts.length | boolean"
      (filter)="filter($event)"
    ></ng-analytics-filter>
  </div>
</section>
