@import 'fonts/fonts.mixins.scss';
@import 'colors.variables.scss';

.toastr {
  display: flex;
  min-width: 270px;
  max-width: 280px;
  padding: 1rem;
  border-radius: 1rem;
  cursor: default;
  box-shadow: var(--theme-list-item-shadow);

  .icon {
    align-self: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1rem;

    .title {
      font-weight: bold;
      letter-spacing: 1px;
      @include amatic(1.5rem);
      @include gradient-font($knoxwille);
    }

    .message {
      letter-spacing: 1px;
      font-weight: bold;
      hyphens: manual;
      @include poiret();
      @include gradient-font($cloud);
    }
  }
}
