<li
  class="toastr"
  (click)="destroyByClick()"
  [ngClass]="getStatusClass()"
  [ngStyle]="getCss()"
  (mouseenter)="undestroyByMouseEnter('enter')"
  (mouseleave)="undestroyByMouseEnter('leave')"
>
  <span class="material-icons" *ngIf="toastr.config.icon">{{
    toastr.config.icon
  }}</span>
  <div class="info">
    <h6 class="title">{{ toastr.title }}</h6>
    <span class="message"> {{ toastr.message }} </span>
  </div>
</li>
