<li class="option" [ngClass]="getStatusClasses()" (click)="changeValue()">
  <nb-checkbox
    class="multiple"
    *ngIf="multiple"
    [disabled]="disabled"
    [checked]="active"
    (checkedChange)="toggle()"
  ></nb-checkbox>
  <span class="text">{{ option.label }}</span>
</li>
