@import 'colors.variables.scss';
@import 'fonts/fonts.mixins.scss';
@import 'decoration.mixins.scss';
@import 'app.mixins.scss';

.option {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-image: var(--layout-gradient);
  @include gradient-border-side(var(--theme-gradient), 1px, 'bottom');

  .multiple {
    margin-right: 1rem;
  }

  .text {
    font-weight: bold;
    @include rlw(0.9rem);
    @include line-clamp(1);
    @include gradient-font(var(--theme-sub-gradient));
  }

  &.active,
  &:hover {
    cursor: pointer;
    background-image: var(--theme-gradient);
    @include gradient-border-side(var(--layout-gradient), 1px, 'bottom');

    .text {
      @include gradient-font(var(--layout-gradient));
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-image: $theme-disabled-gradient;
    @include gradient-border-side($theme-disabled-gradient, 1px, 'bottom');

    .text {
      @include gradient-font($theme-disabled-font-gradient);
    }
  }
}
